Repository EVerest/everest-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre, @a-w50, @MarzellT, @james-ctc, @AssemblyJohn, @dorezyuk, @rckstrh, @SirVer

factor sel_params out, only need default_params
  modules/EvseV2G/iso_server.cpp
Owners: @corneliusclaussen, @SebaLukas, @james-ctc

feature: target register functionality and coverage (#1004)
  CMakeLists.txt
  cmake/ev-project-bootstrap.cmake
  cmake/ev-targets.cmake
  cmake/everest-generate.cmake
  lib/staging/can_dpm1000/CMakeLists.txt
  lib/staging/evse_security/CMakeLists.txt
  lib/staging/external_energy_limits/CMakeLists.txt
  lib/staging/gpio/CMakeLists.txt
  lib/staging/helpers/CMakeLists.txt
  lib/staging/ocpp/CMakeLists.txt
  lib/staging/slac/fsm/ev/CMakeLists.txt
  lib/staging/slac/fsm/evse/CMakeLists.txt
  lib/staging/slac/io/CMakeLists.txt
  lib/staging/tls/CMakeLists.txt
  lib/staging/util/CMakeLists.txt
  modules/Auth/lib/CMakeLists.txt
  modules/MicroMegaWattBSP/umwc_comms/CMakeLists.txt
  modules/PN532TokenProvider/pn532_serial/CMakeLists.txt
  modules/PhyVersoBSP/phyverso_gpio/CMakeLists.txt
  modules/PhyVersoBSP/phyverso_mcu_comms/CMakeLists.txt
  modules/YetiDriver/yeti_comms/CMakeLists.txt
  modules/YetiEvDriver/evyeti_comms/CMakeLists.txt
  tests/CMakeLists.txt
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre, @a-w50, @james-ctc, @AssemblyJohn, @dorezyuk, @rckstrh

add DepartureTime and EAmount to ISO15118 ev interface
  interfaces/ISO15118_ev.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Update everest-ci to v1.4.4 (#1003)
  .github/workflows/build_and_test.yaml
Owners: @pietfried, @corneliusclaussen, @andistorm

departure time and eamount updates in the EvManager
  modules/EvManager/main/car_simulation.cpp
  modules/EvManager/main/car_simulation.hpp
  modules/EvManager/main/car_simulatorImpl.cpp
  modules/EvManager/main/simulation_data.hpp
Owners: @SebaLukas, @pietfried, @MarzellT

bugfix(tls_test): use timed_mutex (#1006)
  lib/staging/tls/tests/tls_connection_test.cpp
Owners: @james-ctc, @AssemblyJohn, @corneliusclaussen, @SebaLukas

Adding a few unit tests for the EvseV2G module. This should serve as a starting point for further tests: (#1013)
  modules/EvseV2G/connection/tls_connection.cpp
  modules/EvseV2G/din_server.cpp
  modules/EvseV2G/din_server.hpp
  modules/EvseV2G/sdp.cpp
  modules/EvseV2G/sdp.hpp
  modules/EvseV2G/tests/CMakeLists.txt
  modules/EvseV2G/tests/ISO15118_chargerImplStub.hpp
  modules/EvseV2G/tests/din_server_test.cpp
  modules/EvseV2G/tests/evse_securityIntfStub.hpp
  modules/EvseV2G/tests/log.cpp
  modules/EvseV2G/tests/sdp_test.cpp
  modules/EvseV2G/tests/utest_log.hpp
  modules/EvseV2G/tests/v2g_ctx_test.cpp
  modules/EvseV2G/tests/v2g_main.cpp
  tests/include/ModuleAdapterStub.hpp
Owners: @corneliusclaussen, @SebaLukas, @james-ctc, @pietfried, @hikinggrass, @andistorm, @mlitre

feature: direct support for `__dump_gcov` (#1005)
  cmake/ev-project-bootstrap.cmake
  dependencies.yaml
  lib/staging/helpers/CMakeLists.txt
  lib/staging/helpers/include/everest/staging/helpers/coverage.hpp
  lib/staging/helpers/lib/coverage.cpp
  tests/CMakeLists.txt
Owners: @hikinggrass, @a-w50, @corneliusclaussen, @andistorm, @pietfried, @SebaLukas, @AssemblyJohn, @mlitre

Added documentation for EnergyManager module (#1009)
  modules/EnergyManager/doc/img/energy_tree.drawio.svg
  modules/EnergyManager/doc/img/energy_tree_complex.drawio.svg
  modules/EnergyManager/doc/img/energy_tree_request_and_distribution.drawio.svg
  modules/EnergyManager/doc/img/single_node.drawio.svg
  modules/EnergyManager/doc/img/single_node_with_circuit_breaker.drawio.svg
  modules/EnergyManager/doc/img/zoom_in_energy_node.drawio.svg
  modules/EnergyManager/doc/index.rst
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Bump zvt lib (#1029)
  modules/Cargo.lock
  modules/RsPaymentTerminal/Cargo.toml
Owners: @SirVer, @dorezyuk, @pietfried, @hikinggrass

Introduce EVSE Manager configuration option for failing charging if t… (#993)
  doc/ocmf/powermeter_start_transaction.md
  doc/ocmf/powermeter_stop_transaction.md
  modules/EvseManager/Charger.cpp
  modules/EvseManager/Charger.hpp
  modules/EvseManager/ErrorHandling.cpp
  modules/EvseManager/ErrorHandling.hpp
  modules/EvseManager/EvseManager.cpp
  modules/EvseManager/EvseManager.hpp
  modules/EvseManager/doc.rst
  modules/EvseManager/manifest.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Renamed docs directory for CI (#1023)
  modules/EnergyManager/docs/img/energy_tree.drawio.svg
  modules/EnergyManager/docs/img/energy_tree_complex.drawio.svg
  modules/EnergyManager/docs/img/energy_tree_request_and_distribution.drawio.svg
  modules/EnergyManager/docs/img/single_node.drawio.svg
  modules/EnergyManager/docs/img/single_node_with_circuit_breaker.drawio.svg
  modules/EnergyManager/docs/img/zoom_in_energy_node.drawio.svg
  modules/EnergyManager/docs/index.rst
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

refactor(coverage): documentation, register function reordering (#1007)
  cmake/ev-targets.cmake
  lib/staging/can_dpm1000/CMakeLists.txt
  lib/staging/evse_security/CMakeLists.txt
  lib/staging/external_energy_limits/CMakeLists.txt
  lib/staging/gpio/CMakeLists.txt
  lib/staging/helpers/CMakeLists.txt
  lib/staging/helpers/tests/CMakeLists.txt
  lib/staging/ocpp/CMakeLists.txt
  lib/staging/slac/fsm/ev/CMakeLists.txt
  lib/staging/slac/fsm/evse/CMakeLists.txt
  lib/staging/slac/io/CMakeLists.txt
  lib/staging/tls/CMakeLists.txt
  lib/staging/tls/tests/CMakeLists.txt
  lib/staging/util/CMakeLists.txt
  modules/API/tests/CMakeLists.txt
  modules/Auth/lib/CMakeLists.txt
  modules/Auth/tests/CMakeLists.txt
  modules/EnergyManager/tests/CMakeLists.txt
  modules/ErrorHistory/tests/CMakeLists.txt
  modules/EvManager/tests/CMakeLists.txt
  modules/EvseManager/tests/CMakeLists.txt
  modules/EvseV2G/tests/CMakeLists.txt
  modules/LemDCBM400600/tests/CMakeLists.txt
  modules/MicroMegaWattBSP/umwc_comms/CMakeLists.txt
  modules/OCPP201/tests/CMakeLists.txt
  modules/PN532TokenProvider/pn532_serial/CMakeLists.txt
  modules/PhyVersoBSP/phyverso_gpio/CMakeLists.txt
  modules/PhyVersoBSP/phyverso_mcu_comms/CMakeLists.txt
  modules/Setup/tests/CMakeLists.txt
  modules/YetiDriver/yeti_comms/CMakeLists.txt
  modules/YetiEvDriver/evyeti_comms/CMakeLists.txt
  tests/CMakeLists.txt
  tests/README.md
Owners: @hikinggrass, @a-w50, @corneliusclaussen, @andistorm, @pietfried, @SebaLukas, @mlitre, @james-ctc, @AssemblyJohn, @MarzellT, @dorezyuk, @rckstrh

Auth: Catch all exceptions while waiting for token validation and reject it instead of crashing (#1032)
  modules/Auth/Auth.cpp
Owners: @pietfried, @corneliusclaussen, @hikinggrass, @mlitre

Additional documentation for powermeter start sequence or after communication loss (#1019)
  doc/ocmf/powermeter_start.md
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Bump libocpp dependency to 0.23.0 (#1028)
  CMakeLists.txt
  dependencies.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre, @AssemblyJohn

Publish PP state from PhyVersoBSP (#1034)
  modules/PhyVersoBSP/board_support_common.cpp
  modules/PhyVersoBSP/board_support_common.hpp
  modules/PhyVersoBSP/connector_1/evse_board_supportImpl.cpp
  modules/PhyVersoBSP/connector_2/evse_board_supportImpl.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @dorezyuk, @rckstrh

API: Improve error handling for command parsing (#1020)
  modules/API/API.cpp
Owners: @hikinggrass, @pietfried, @corneliusclaussen

.github/CODEOWNERS:

# default option unless later match takes precedence
* @pietfried @hikinggrass @corneliusclaussen @SebaLukas @andistorm @mlitre

# .ci
/.ci/ @pietfried @hikinggrass @corneliusclaussen @andistorm

# .github
/.github/ @pietfried @corneliusclaussen
/.github/workflows/ @pietfried @corneliusclaussen @andistorm

# cmake
/cmake/ @hikinggrass @a-w50 @corneliusclaussen @andistorm

# config
/config/ @hikinggrass @pietfried @corneliusclaussen @SebaLukas @MarzellT @mlitre

# lib
/lib/3rd_party/nanopb/ @a-w50 @corneliusclaussen @hikinggrass
/lib/staging/can_dpm1000/ @a-w50 @corneliusclaussen @hikinggrass
/lib/staging/gpio/ @corneliusclaussen @hikinggrass @hikinggrass
/lib/staging/ocpp/ @hikinggrass @pietfried @corneliusclaussen @mlitre
/lib/staging/slac/ @a-w50 @corneliusclaussen @SebaLukas
/lib/staging/tls/ @james-ctc @AssemblyJohn @corneliusclaussen @SebaLukas

# modules
/modules/API/ @hikinggrass @pietfried @corneliusclaussen
/modules/Auth/ @pietfried @corneliusclaussen @hikinggrass @mlitre
/modules/Energymanager/ @corneliusclaussen @hikinggrass @pietfried
/modules/EnergyNode/ @corneliusclaussen @hikinggrass @pietfried
/modules/ErrorHistory/ @corneliusclaussen @hikinggrass @pietfried @andistorm
/modules/EvseManager/ @corneliusclaussen @SebaLukas @hikinggrass @pietfried @mlitre
/modules/EvManager/ @SebaLukas @pietfried @MarzellT
/modules/Evse15118D20/ @SebaLukas @a-w50 @corneliusclaussen
/modules/EvseSecurity/ @AssemblyJohn @pietfried @hikinggrass
/modules/EvseV2G/ @corneliusclaussen @SebaLukas @james-ctc
/modules/EvseSlac/ @a-w50 @corneliusclaussen @SebaLukas
/modules/OCPP/ @hikinggrass @pietfried @mlitre
/modules/OCPP201/ @hikinggrass @pietfried @mlitre
/modules/PacketSniffer/ @corneliusclaussen @SebaLukas @hikinggrass
/modules/PhyVersoBSP/ @pietfried @hikinggrass @corneliusclaussen @dorezyuk @rckstrh
/modules/PyEvJosev/ @SebaLukas @corneliusclaussen @pietfried
/modules/Setup/ @hikinggrass @corneliusclaussen @pietfried
/modules/YetiDriver/ @corneliusclaussen @hikinggrass
/modules/examples/error-framework/ @corneliusclaussen @hikinggrass @pietfried @andistorm
/modules/simulation/ @SebaLukas @pietfried @hikinggrass
/modules/simulation/SlacSimulator/ @SebaLukas @pietfried @corneliusclaussen @MarzellT
/modules/simulation/YetiSimulator/ @SebaLukas @pietfried @corneliusclaussen @MarzellT
/modules/rust_examples/ @SirVer @dorezyuk
**/Cargo.toml @SirVer @dorezyuk @pietfried @hikinggrass
**/Cargo.lock @SirVer @dorezyuk @pietfried @hikinggrass


# Rust & Bazel
*.rs @SirVer @dorezyuk @pietfried @hikinggrass
*.bazel @SirVer @dorezyuk @pietfried @hikinggrass
*.bzl @SirVer @dorezyuk @pietfried @hikinggrass

# third-party/bazel
/third-party/bazel/deps_versions.bzl @pietfried @hikinggrass @corneliusclaussen @SebaLukas @a-w50 @SirVer @dorezyuk

/dependencies.yaml @hikinggrass @pietfried @corneliusclaussen @SebaLukas @AssemblyJohn @mlitre
/module-dependencies.cmake @hikinggrass @pietfried @corneliusclaussen @SebaLukas @AssemblyJohn @mlitre
