Repository EVerest/everest-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pietfried, @hikinggrass, @corneliusclaussen, @a-w50, @SebaLukas, @james-ctc, @AssemblyJohn, @MarzellT, @maaikez, @dorezyuk, @rckstrh, @SirVer

.github/CODEOWNERS:

# default option unless later match takes precedence
* @pietfried @hikinggrass @corneliusclaussen

# .github
/.github/ @pietfried @corneliusclaussen

# cmake
/cmake/ @hikinggrass @a-w50 @corneliusclaussen

# lib
/lib/3rd_party/nanopb/ @a-w50 @corneliusclaussen @hikinggrass
/lib/staging/can_dpm1000/ @a-w50 @corneliusclaussen @hikinggrass
/lib/staging/gpio/ @corneliusclaussen @hikinggrass @hikinggrass
/lib/staging/ocpp/ @hikinggrass @pietfried @corneliusclaussen
/lib/staging/slac/ @a-w50 @corneliusclaussen @SebaLukas
/lib/staging/tls/ @james-ctc @AssemblyJohn @corneliusclaussen @SebaLukas

# modules
/modules/API/ @hikinggrass @pietfried @corneliusclaussen
/modules/Auth/ @pietfried @corneliusclaussen @hikinggrass
/modules/Energymanager/ @corneliusclaussen @hikinggrass @pietfried
/modules/EnergyNode/ @corneliusclaussen @hikinggrass @pietfried
/modules/EvseManager/ @corneliusclaussen @SebaLukas @hikinggrass @pietfried
/modules/EvManager/ @SebaLukas @pietfried @MarzellT
/modules/Evse15118D20/ @SebaLukas @a-w50 @corneliusclaussen
/modules/EvseSecurity/ @AssemblyJohn @pietfried @hikinggrass
/modules/EvseV2G/ @corneliusclaussen @SebaLukas @james-ctc
/modules/EvseSlac/ @a-w50 @corneliusclaussen @SebaLukas
/modules/OCPP/ @hikinggrass @pietfried @maaikez
/modules/OCPP201/ @hikinggrass @pietfried @maaikez
/modules/PacketSniffer @corneliusclaussen @SebaLukas @hikinggrass
/modules/PhyVersoBSP @pietfried @hikinggrass @corneliusclaussen @dorezyuk @rckstrh
/modules/PyEvJosev @SebaLukas @corneliusclaussen @pietfried
/modules/Setup @hikinggrass @corneliusclaussen @pietfried
/modules/YetiDriver @corneliusclaussen @hikinggrass
/modules/simulation/ @SebaLukas @pietfried @hikinggrass
/modules/SlacSimulator/ @SebaLukas @pietfried @corneliusclaussen @MarzellT
/modules/rust_examples/ @SirVer @dorezyuk
**/Cargo.toml @SirVer @dorezyuk @pietfried @hikinggrass
**/Cargo.lock @SirVer @dorezyuk @pietfried @hikinggrass


# Rust & Bazel
*.rs @SirVer @dorezyuk @pietfried @hikinggrass
*.bazel @SirVer @dorezyuk @pietfried @hikinggrass
*.bzl @SirVer @dorezyuk @pietfried @hikinggrass

# third-party/bazel
/third-party/bazel/deps_versions.bzl @pietfried @hikinggrass @corneliusclaussen @SebaLukas @a-w50 @SirVer @dorezyuk

Fix if-statment guarding for invalid vector access
  modules/EnergyNode/energy_grid/energyImpl.cpp
Owners: @corneliusclaussen, @hikinggrass, @pietfried

Fix if-statment guarding for invalid vector access (#996)
  modules/EnergyNode/energy_grid/energyImpl.cpp
Owners: @corneliusclaussen, @hikinggrass, @pietfried

Accept bank cards only for specific connectors
  modules/RsPaymentTerminal/manifest.yaml
  modules/RsPaymentTerminal/src/main.rs
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SirVer, @dorezyuk

* Refactor EnergyManager module to allow for easier unit testing * Added unit test example
  modules/EnergyManager/BrokerFastCharging.cpp
  modules/EnergyManager/BrokerFastCharging.hpp
  modules/EnergyManager/CMakeLists.txt
  modules/EnergyManager/EnergyManager.cpp
  modules/EnergyManager/EnergyManager.hpp
  modules/EnergyManager/EnergyManagerImpl.cpp
  modules/EnergyManager/EnergyManagerImpl.hpp
  modules/EnergyManager/tests/CMakeLists.txt
  modules/EnergyManager/tests/EnergyManagerImplStub.hpp
  modules/EnergyManager/tests/EnergyManagerSimpleTest.cpp
  modules/EnergyManager/tests/EnergyManagerTest.cpp
  modules/EnergyManager/tests/energy_flow_requests/example.json
  modules/EnergyManager/tests/utils.hpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Correct remaining booleans in CostAndPrice (#919)
  lib/ocpp/v16/charge_point_configuration.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Add behavior in the error handling document
  modules/EvseManager/doc.rst
Owners: @corneliusclaussen, @SebaLukas, @hikinggrass, @pietfried

Fix compiling for GNU (#99)
  3rd_party/cert_rehash/c_rehash.hpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Update modules/EvseManager/manifest.yaml
  modules/EvseManager/manifest.yaml
Owners: @corneliusclaussen, @SebaLukas, @hikinggrass, @pietfried
