Repository EVerest/everest-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pietfried, @hikinggrass, @corneliusclaussen, @a-w50, @SebaLukas, @AssemblyJohn, @SirVer, @golovasteek, @dorezyuk

.github/CODEOWNERS:

# default option unless later match takes precedence
* @pietfried @hikinggrass @corneliusclaussen

# .github
/.github/ @pietfried @corneliusclaussen

# cmake
/cmake/ @hikinggrass @a-w50

# modules
/modules/API/ @hikinggrass
/modules/Auth/ @pietfried
/modules/Energymanager/ @corneliusclaussen
/modules/EnergyNode/ @corneliusclaussen
/modules/EvseManager/ @corneliusclaussen @SebaLukas
/modules/EvseSecurity/ @AssemblyJohn @pietfried
/modules/EvseV2G/ @corneliusclaussen @SebaLukas
/modules/EvseSlac/ @a-w50 @corneliusclaussen @SebaLukas
/modules/OCPP/ @hikinggrass @pietfried
/modules/OCPP201/ @hikinggrass @pietfried
/modules/PacketSniffer @corneliusclaussen @SebaLukas
/modules/PyEvJosev @SebaLukas
/modules/Setup @hikinggrass
/modules/YetiDriver @corneliusclaussen
/modules/simulation/ @SebaLukas
/modules/rust_examples/ @SirVer @golovasteek @dorezyuk

# Rust & Bazel
*.rs @SirVer @golovasteek @dorezyuk
*.bazel @SirVer @golovasteek @dorezyuk
*.bzl @SirVer @golovasteek @dorezyuk

Adding OCPP1.6 add profiles tests (#440)
  tests/lib/ocpp/v16/test_smart_charging_handler.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Fixed some potentially wrong uses of certificate hash, clarified certificate names (#58)
  include/evse_security/evse_types.hpp
  lib/evse_security/certificate/x509_bundle.cpp
  lib/evse_security/certificate/x509_hierarchy.cpp
  lib/evse_security/certificate/x509_wrapper.cpp
  lib/evse_security/evse_security.cpp
  lib/evse_security/evse_types.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Mg refactor verify certificate (#59)
  include/evse_security/crypto/interface/crypto_supplier.hpp
  include/evse_security/crypto/interface/crypto_types.hpp
  include/evse_security/crypto/openssl/openssl_supplier.hpp
  include/evse_security/evse_security.hpp
  include/evse_security/evse_types.hpp
  lib/evse_security/crypto/interface/crypto_supplier.cpp
  lib/evse_security/crypto/openssl/openssl_supplier.cpp
  lib/evse_security/evse_security.cpp
  tests/openssl_supplier_test.cpp
  tests/tests.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Implement get_variables and set_variables in OCPP201 module (#584)
  dependencies.yaml
  modules/OCPP201/conversions.cpp
  modules/OCPP201/conversions.hpp
  modules/OCPP201/ocpp_generic/ocppImpl.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Fix "clang-format version 16.0.0"-bug (#119)
  .github/workflows/deploy-all-docker-images.yml
  .github/workflows/deploy-single-docker-image.yml
  docker/everest-clang-format/Dockerfile
  docker/everest-clang-format/run-clang-format.py
Owners: @pietfried, @corneliusclaussen, @hikinggrass

Updated interfaces (#532)
  dependencies.yaml
  include/ocpp/common/evse_security.hpp
  include/ocpp/common/evse_security_impl.hpp
  include/ocpp/common/types.hpp
  lib/ocpp/common/evse_security_impl.cpp
  lib/ocpp/v16/charge_point_impl.cpp
  tests/evse_security_mock.hpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Updated interfaces
  interfaces/evse_security.yaml
  lib/staging/ocpp/evse_security_ocpp.cpp
  lib/staging/ocpp/evse_security_ocpp.hpp
  modules/EvseSecurity/conversions.cpp
  modules/EvseSecurity/conversions.hpp
  modules/EvseSecurity/main/evse_securityImpl.cpp
  modules/EvseSecurity/main/evse_securityImpl.hpp
  types/evse_security.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @AssemblyJohn

Update dependency
  dependencies.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Updated interfaces (#586)
  dependencies.yaml
  interfaces/evse_security.yaml
  lib/staging/ocpp/evse_security_ocpp.cpp
  lib/staging/ocpp/evse_security_ocpp.hpp
  modules/EvseSecurity/conversions.cpp
  modules/EvseSecurity/conversions.hpp
  modules/EvseSecurity/main/evse_securityImpl.cpp
  modules/EvseSecurity/main/evse_securityImpl.hpp
  types/evse_security.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @AssemblyJohn

reviewer remarks
  modules/RsIskraMeter/build.rs
  modules/RsIskraMeter/manifest.yaml
  modules/RsIskraMeter/src/main.rs
Owners: @SirVer, @golovasteek, @dorezyuk, @pietfried, @hikinggrass, @corneliusclaussen

remove public_key topic
  interfaces/powermeter.yaml
  modules/RsIskraMeter/src/main.rs
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SirVer, @golovasteek, @dorezyuk

reviewer remarks
  modules/RsIskraMeter/BUILD.bazel
  modules/RsIskraMeter/src/main.rs
Owners: @SirVer, @golovasteek, @dorezyuk

Fix linkage of gtest
  modules/Setup/tests/CMakeLists.txt
Owners: @hikinggrass

Fix PowermeterBSM dev tests naming
  modules/PowermeterBSM/tests/CMakeLists.txt
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Use EVEREST_CORE_BUILD_TESTING variable to build tests conditionally
  modules/LemDCBM400600/CMakeLists.txt
  modules/Setup/CMakeLists.txt
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Remove find_package for GTest since we are using a source dependency
  modules/LemDCBM400600/tests/CMakeLists.txt
  modules/PowermeterBSM/CMakeLists.txt
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Initialize CTest before adding subdirectories that may contain tests
  CMakeLists.txt
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Fix test target naming
  modules/Auth/tests/CMakeLists.txt
  modules/LemDCBM400600/tests/CMakeLists.txt
  modules/Setup/tests/CMakeLists.txt
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Fix broken tests
  modules/LemDCBM400600/tests/test_lem_dcbm_400600_controller.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Add missing virtual destructor
  modules/LemDCBM400600/main/lem_dcbm_time_sync_helper.hpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Make LemDCBM400600 tests depend on the module
  modules/LemDCBM400600/tests/CMakeLists.txt
Owners: @pietfried, @hikinggrass, @corneliusclaussen

* Set force_rebuild if workflow is triggered by newly created tag (#124)
  .github/workflows/deploy-all-docker-images.yml
  .github/workflows/deploy-single-docker-image.yml
Owners: @pietfried, @corneliusclaussen

Remove redundant enable_testing()
  CMakeLists.txt
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Fix unit tests (#585)
  CMakeLists.txt
  modules/Auth/tests/CMakeLists.txt
  modules/LemDCBM400600/CMakeLists.txt
  modules/LemDCBM400600/main/lem_dcbm_time_sync_helper.hpp
  modules/LemDCBM400600/tests/CMakeLists.txt
  modules/LemDCBM400600/tests/test_lem_dcbm_400600_controller.cpp
  modules/PowermeterBSM/CMakeLists.txt
  modules/PowermeterBSM/tests/CMakeLists.txt
  modules/Setup/CMakeLists.txt
  modules/Setup/tests/CMakeLists.txt
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Run unit tests in CI
  .ci/build-kit/run_unit_tests.sh
  .github/workflows/build_and_test.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen

fix underscore
  .github/workflows/build_and_test.yaml
Owners: @pietfried, @corneliusclaussen

Rename scripts
  .ci/build-kit/prepare_integration_tests.sh
  .ci/e2e/scripts/run_integration_tests.sh
  .github/workflows/build_and_test.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Run unit tests in CI (#587)
  .ci/build-kit/prepare_integration_tests.sh
  .ci/build-kit/run_unit_tests.sh
  .ci/e2e/scripts/run_integration_tests.sh
  .github/workflows/build_and_test.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen
