Repository EVerest/everest-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre, @a-w50, @MarzellT, @james-ctc, @AssemblyJohn, @dorezyuk, @rckstrh, @SirVer

Adapt to new set_variable_attribute_value return type
  dependencies.yaml
  modules/OCPP201/device_model/composed_device_model_storage.cpp
  modules/OCPP201/device_model/composed_device_model_storage.hpp
  modules/OCPP201/device_model/everest_device_model_storage.cpp
  modules/OCPP201/device_model/everest_device_model_storage.hpp
Owners: @hikinggrass, @pietfried, @corneliusclaussen, @SebaLukas, @AssemblyJohn, @mlitre

RpcApi: allow setting all values of ChargerInfoStore to unknown
  modules/RpcApi/RpcApi.cpp
  modules/RpcApi/data/DataStore.hpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

RpcApi: WIP notifications access to RPC Server
  modules/RpcApi/CMakeLists.txt
  modules/RpcApi/rpc/notifications/Evse.cpp
  modules/RpcApi/rpc/notifications/Evse.hpp
  modules/RpcApi/tests/CMakeLists.txt
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

RpcApi: use consts and references
  modules/RpcApi/rpc/RpcHandler.cpp
  modules/RpcApi/tests/rpc/RpcHandlerTests.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

RpcApi: clang-format WebsocketServer.hpp
  modules/RpcApi/server/WebsocketServer.cpp
  modules/RpcApi/server/WebsocketServer.hpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

RpcApi: WIP notifications access to RPC Server
  modules/RpcApi/rpc/RpcHandler.hpp
  modules/RpcApi/rpc/notifications/Evse.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

RpcApi: fix type of hardware capabilites
  types/json_rpc_api.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

RpcApi: WIP notifications access to RPC Server
  modules/RpcApi/rpc/RpcHandler.hpp
  modules/RpcApi/rpc/notifications/Evse.hpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

RpcApi: WIP notifications access to RPC Server
  modules/RpcApi/rpc/RpcHandler.cpp
  modules/RpcApi/rpc/RpcHandler.hpp
  modules/RpcApi/rpc/notifications/Evse.hpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

RpcApi: WIP register notifications
  modules/RpcApi/data/DataStore.hpp
  modules/RpcApi/data/GenericInfoStore.hpp
  modules/RpcApi/rpc/RpcHandler.cpp
  modules/RpcApi/rpc/RpcHandler.hpp
  modules/RpcApi/rpc/notifications/Evse.hpp
  types/json_rpc_api.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

RpcApi: add method to send data to all connected WebSocket clients
  modules/RpcApi/server/TransportInterface.hpp
  modules/RpcApi/server/WebsocketServer.cpp
  modules/RpcApi/server/WebsocketServer.hpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

RpcApi: WIP make the JsonRpcServer also a client
  modules/RpcApi/rpc/RpcHandler.cpp
  modules/RpcApi/rpc/RpcHandler.hpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

RpcApi: allow setting all values of ChargerInfoStore to unknown
  modules/RpcApi/data/DataStore.hpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

RpcApi: rename some variables from server to handler
  modules/RpcApi/RpcApi.cpp
  modules/RpcApi/RpcApi.hpp
  modules/RpcApi/tests/rpc/RpcHandlerTests.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

RpcApi: rename interface var to data conversion functions
  modules/RpcApi/RpcApi.cpp
  modules/RpcApi/RpcApi.hpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

RpcApi: WIP make the shared pointer actually shared
  modules/RpcApi/rpc/RpcHandler.cpp
  modules/RpcApi/rpc/notifications/Evse.hpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Adding ISO15118-20 pause/resume feature
  config/nodered/config-sil-dc-bpt-flow.json
  config/nodered/config-sil-dc-flow.json
  config/nodered/config-sil-energy-management-flow.json
  config/nodered/config-sil-flow.json
  config/nodered/config-sil-two-evse-flow.json
  dependencies.yaml
  interfaces/ISO15118_charger.yaml
  interfaces/ISO15118_ev.yaml
  modules/DummyV2G/main/ISO15118_chargerImpl.cpp
  modules/DummyV2G/main/ISO15118_chargerImpl.hpp
  modules/EvManager/main/car_simulation.cpp
  modules/EvManager/main/car_simulation.hpp
  modules/EvManager/main/car_simulatorImpl.cpp
  modules/EvManager/main/simulation_data.hpp
  modules/Evse15118D20/charger/ISO15118_chargerImpl.cpp
  modules/Evse15118D20/charger/ISO15118_chargerImpl.hpp
  modules/EvseManager/Charger.cpp
  modules/EvseManager/Charger.hpp
  modules/EvseManager/EvseManager.cpp
  modules/EvseV2G/charger/ISO15118_chargerImpl.cpp
  modules/EvseV2G/charger/ISO15118_chargerImpl.hpp
  modules/EvseV2G/tests/ISO15118_chargerImplStub.hpp
  modules/IsoMux/charger/ISO15118_chargerImpl.cpp
  modules/IsoMux/charger/ISO15118_chargerImpl.hpp
Owners: @hikinggrass, @pietfried, @corneliusclaussen, @SebaLukas, @MarzellT, @mlitre, @AssemblyJohn, @andistorm, @a-w50, @james-ctc

RpcApi: add a simple Python client for API.Hello
  modules/RpcApi/pyclient/json-rpc-api-hello-client.py
  modules/RpcApi/pyclient/requirements.txt
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Adding ISO15118-20 pause/resume feature (#1095)
  config/nodered/config-sil-dc-bpt-flow.json
  config/nodered/config-sil-dc-flow.json
  config/nodered/config-sil-energy-management-flow.json
  config/nodered/config-sil-flow.json
  config/nodered/config-sil-two-evse-flow.json
  dependencies.yaml
  interfaces/ISO15118_charger.yaml
  interfaces/ISO15118_ev.yaml
  modules/DummyV2G/main/ISO15118_chargerImpl.cpp
  modules/DummyV2G/main/ISO15118_chargerImpl.hpp
  modules/EvManager/main/car_simulation.cpp
  modules/EvManager/main/car_simulation.hpp
  modules/EvManager/main/car_simulatorImpl.cpp
  modules/EvManager/main/simulation_data.hpp
  modules/Evse15118D20/charger/ISO15118_chargerImpl.cpp
  modules/Evse15118D20/charger/ISO15118_chargerImpl.hpp
  modules/EvseManager/Charger.cpp
  modules/EvseManager/Charger.hpp
  modules/EvseManager/EvseManager.cpp
  modules/EvseV2G/charger/ISO15118_chargerImpl.cpp
  modules/EvseV2G/charger/ISO15118_chargerImpl.hpp
  modules/EvseV2G/tests/ISO15118_chargerImplStub.hpp
  modules/IsoMux/charger/ISO15118_chargerImpl.cpp
  modules/IsoMux/charger/ISO15118_chargerImpl.hpp
Owners: @hikinggrass, @pietfried, @corneliusclaussen, @SebaLukas, @MarzellT, @mlitre, @AssemblyJohn, @andistorm, @a-w50, @james-ctc

Adapt to new set_variable_attribute_value return type (#1193)
  dependencies.yaml
  modules/OCPP201/device_model/composed_device_model_storage.cpp
  modules/OCPP201/device_model/composed_device_model_storage.hpp
  modules/OCPP201/device_model/everest_device_model_storage.cpp
  modules/OCPP201/device_model/everest_device_model_storage.hpp
Owners: @hikinggrass, @pietfried, @corneliusclaussen, @SebaLukas, @AssemblyJohn, @mlitre

Fixes regarding the vector tester ISO15118 -4 & -5 test cases (#1087)
  modules/EvseV2G/iso_server.cpp
  modules/EvseV2G/v2g_server.cpp
Owners: @corneliusclaussen, @SebaLukas, @james-ctc

Migrate to Bazel 8 (#255)
  .bazelrc
  .bazelversion
  .ci/build-kit/scripts/check_version_consistency.py
  .github/workflows/bazel_build.yml
  BUILD.bazel
  MODULE.bazel
  MODULE.bazel.lock
  WORKSPACE.bazel
  bazel/everest_env.bzl
  bazel/validate/BUILD.bazel
  everestrs/everestrs-build/BUILD.bazel
  everestrs/everestrs/BUILD.bazel
  everestrs/tests/modules/RsErrors/BUILD.bazel
  everestrs/tests/modules/RsExample/BUILD.bazel
  everestrs/tests/modules/RsIgnore/BUILD.bazel
  everestrs/tests/modules/RsOnReadyRaceCondition/BUILD.bazel
  everestrs/tests/modules/RsOptionalConnection/BUILD.bazel
  lib/config.cpp
  lib/everest.cpp
  src/manager.cpp
  third-party/bazel/BUILD.bazel
  third-party/bazel/BUILD.c4core.bazel
  third-party/bazel/BUILD.curl.bazel
  third-party/bazel/BUILD.date.bazel
  third-party/bazel/BUILD.fastfloat.bazel
  third-party/bazel/BUILD.fmt.bazel
  third-party/bazel/BUILD.liblog.bazel
  third-party/bazel/BUILD.nlohmann_json.bazel
  third-party/bazel/defs.bzl
  third-party/bazel/extension.bzl
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre, @SirVer, @dorezyuk

Adding MCS serivces (#109)
  README.md
  include/iso15118/d20/config.hpp
  include/iso15118/d20/session.hpp
  include/iso15118/message/common_types.hpp
  include/iso15118/message/service_detail.hpp
  src/iso15118/d20/config.cpp
  src/iso15118/d20/session.cpp
  src/iso15118/d20/state/dc_charge_loop.cpp
  src/iso15118/d20/state/dc_charge_parameter_discovery.cpp
  src/iso15118/d20/state/schedule_exchange.cpp
  src/iso15118/d20/state/service_detail.cpp
  src/iso15118/message/service_detail.cpp
  test/iso15118/states/dc_charge_loop.cpp
  test/iso15118/states/dc_charge_parameter_discovery.cpp
  test/iso15118/states/schedule_exchange.cpp
  test/iso15118/states/service_detail.cpp
  test/iso15118/states/service_discovery.cpp
  test/iso15118/states/service_selection.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Python: Fix bindings for multiple slots (#272)
  everestpy/src/everest/misc.cpp
  everestpy/src/everest/misc.hpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

feature(ocpp16): Authorize response waits for set user price (#1065)
  config/v16/config-full.json
  config/v16/profile_schemas/CostAndPrice.json
  doc/common/california_pricing_requirements.md
  include/ocpp/v16/charge_point.hpp
  include/ocpp/v16/charge_point_configuration.hpp
  include/ocpp/v16/charge_point_impl.hpp
  include/ocpp/v16/ocpp_types.hpp
  include/ocpp/v16/types.hpp
  lib/ocpp/v16/charge_point.cpp
  lib/ocpp/v16/charge_point_configuration.cpp
  lib/ocpp/v16/charge_point_impl.cpp
  src/charge_point.cpp
Owners: @hikinggrass, @pietfried, @corneliusclaussen, @SebaLukas, @MarzellT, @mlitre, @andistorm

Allow power on in ISO_POWER_READY state
  modules/EvManager/main/car_simulation.cpp
Owners: @SebaLukas, @pietfried, @MarzellT

adds a check for out of bounds parameters in charge parameter discovery
  modules/EvseV2G/iso_server.cpp
Owners: @corneliusclaussen, @SebaLukas, @james-ctc

Removed initialization of tariff_message vector
  modules/OCPP/auth_validator/auth_token_validatorImpl.cpp
Owners: @hikinggrass, @pietfried, @mlitre

Update types/authorization.yaml
  types/authorization.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Extende california pricing test cases
  tests/ocpp_tests/test_sets/ocpp16/california_pricing_ocpp16.py
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Update dependencies.yaml
  dependencies.yaml
Owners: @hikinggrass, @pietfried, @corneliusclaussen, @SebaLukas, @AssemblyJohn, @mlitre

feature(OCPP): Added support for OCMF TT (tariff text) information for powermeter start transaction (#1186)
  dependencies.yaml
  modules/DummyTokenValidator/main/auth_token_validatorImpl.cpp
  modules/EvseManager/Charger.cpp
  modules/EvseManager/Charger.hpp
  modules/EvseManager/evse/evse_managerImpl.cpp
  modules/OCPP/auth_validator/auth_token_validatorImpl.cpp
  modules/OCPP/conversions.hpp
  modules/OCPP201/conversions.cpp
  tests/ocpp_tests/test_sets/everest-aux/config/libocpp-config-costandprice.json
  tests/ocpp_tests/test_sets/ocpp16/california_pricing_ocpp16.py
  types/authorization.yaml
Owners: @hikinggrass, @pietfried, @corneliusclaussen, @SebaLukas, @AssemblyJohn, @mlitre, @andistorm

RpcApi: Add check for EVSE energy sink mapping and log errors for configuration issues
  modules/RpcApi/RpcApi.cpp
  modules/RpcApi/RpcApi.hpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

RpcApi: Add set_index and set_id methods to EVSEInfoStore for data manipulation
  modules/RpcApi/data/DataStore.hpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

RpcApi: Update comments for clarity and add subscription for EVSE ID in data store
  modules/RpcApi/RpcApi.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Fix some compiler warnings (#271)
  lib/error/error_database_map.cpp
  src/controller/controller.cpp
  src/controller/ipc.cpp
  src/manager.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Fix multiple compiler warnings (#273)
  include/utils/mqtt_abstraction.hpp
  lib/config.cpp
  lib/everest.cpp
  src/controller/rpc.cpp
  src/controller/server.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

RpcApi: put RpcApi in SIL
  config/config-sil.yaml
Owners: @hikinggrass, @pietfried, @corneliusclaussen, @SebaLukas, @MarzellT, @mlitre

RpcApi: rename the notification call method
  modules/RpcApi/rpc/RpcHandler.hpp
  modules/RpcApi/rpc/notifications/Evse.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

RpcApi: make sure all variables remain in scope
  modules/RpcApi/rpc/RpcHandler.cpp
  modules/RpcApi/rpc/RpcHandler.hpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

.github/CODEOWNERS:

# default option unless later match takes precedence
* @pietfried @hikinggrass @corneliusclaussen @SebaLukas @andistorm @mlitre

# .ci
/.ci/ @pietfried @hikinggrass @corneliusclaussen @andistorm

# .github
/.github/ @pietfried @corneliusclaussen
/.github/workflows/ @pietfried @corneliusclaussen @andistorm

# cmake
/cmake/ @hikinggrass @a-w50 @corneliusclaussen @andistorm

# config
/config/ @hikinggrass @pietfried @corneliusclaussen @SebaLukas @MarzellT @mlitre

# lib
/lib/3rd_party/nanopb/ @a-w50 @corneliusclaussen @hikinggrass
/lib/staging/can_dpm1000/ @a-w50 @corneliusclaussen @hikinggrass
/lib/staging/gpio/ @corneliusclaussen @hikinggrass @hikinggrass
/lib/staging/ocpp/ @hikinggrass @pietfried @corneliusclaussen @mlitre
/lib/staging/slac/ @a-w50 @corneliusclaussen @SebaLukas
/lib/staging/tls/ @james-ctc @AssemblyJohn @corneliusclaussen @SebaLukas

# modules
/modules/API/ @hikinggrass @pietfried @corneliusclaussen
/modules/Auth/ @pietfried @corneliusclaussen @hikinggrass @mlitre
/modules/Energymanager/ @corneliusclaussen @hikinggrass @pietfried
/modules/EnergyNode/ @corneliusclaussen @hikinggrass @pietfried
/modules/ErrorHistory/ @corneliusclaussen @hikinggrass @pietfried @andistorm
/modules/EvseManager/ @corneliusclaussen @SebaLukas @hikinggrass @pietfried @mlitre
/modules/EvManager/ @SebaLukas @pietfried @MarzellT
/modules/Evse15118D20/ @SebaLukas @a-w50 @corneliusclaussen
/modules/EvseSecurity/ @AssemblyJohn @pietfried @hikinggrass
/modules/EvseV2G/ @corneliusclaussen @SebaLukas @james-ctc
/modules/EvseSlac/ @a-w50 @corneliusclaussen @SebaLukas
/modules/OCPP/ @hikinggrass @pietfried @mlitre
/modules/OCPP201/ @hikinggrass @pietfried @mlitre
/modules/PacketSniffer/ @corneliusclaussen @SebaLukas @hikinggrass
/modules/PhyVersoBSP/ @pietfried @hikinggrass @corneliusclaussen @dorezyuk @rckstrh
/modules/PyEvJosev/ @SebaLukas @corneliusclaussen @pietfried
/modules/Setup/ @hikinggrass @corneliusclaussen @pietfried
/modules/YetiDriver/ @corneliusclaussen @hikinggrass
/modules/examples/error-framework/ @corneliusclaussen @hikinggrass @pietfried @andistorm
/modules/simulation/ @SebaLukas @pietfried @hikinggrass
/modules/simulation/SlacSimulator/ @SebaLukas @pietfried @corneliusclaussen @MarzellT
/modules/simulation/YetiSimulator/ @SebaLukas @pietfried @corneliusclaussen @MarzellT
/modules/rust_examples/ @SirVer @dorezyuk
**/Cargo.toml @SirVer @dorezyuk @pietfried @hikinggrass
**/Cargo.lock @SirVer @dorezyuk @pietfried @hikinggrass


# Rust & Bazel
*.rs @SirVer @dorezyuk @pietfried @hikinggrass
*.bazel @SirVer @dorezyuk @pietfried @hikinggrass
*.bzl @SirVer @dorezyuk @pietfried @hikinggrass

# third-party/bazel
/third-party/bazel/deps_versions.bzl @pietfried @hikinggrass @corneliusclaussen @SebaLukas @a-w50 @SirVer @dorezyuk

/dependencies.yaml @hikinggrass @pietfried @corneliusclaussen @SebaLukas @AssemblyJohn @mlitre
/module-dependencies.cmake @hikinggrass @pietfried @corneliusclaussen @SebaLukas @AssemblyJohn @mlitre
