Repository EVerest/everest-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pietfried, @hikinggrass, @corneliusclaussen, @a-w50, @SebaLukas, @AssemblyJohn, @SirVer, @golovasteek, @dorezyuk

.github/CODEOWNERS:

# default option unless later match takes precedence
* @pietfried @hikinggrass @corneliusclaussen

# .github
/.github/ @pietfried @corneliusclaussen

# cmake
/cmake/ @hikinggrass @a-w50

# modules
/modules/API/ @hikinggrass @pietfried
/modules/Auth/ @pietfried @corneliusclaussen
/modules/Energymanager/ @corneliusclaussen @hikinggrass
/modules/EnergyNode/ @corneliusclaussen @hikinggrass
/modules/EvseManager/ @corneliusclaussen @SebaLukas
/modules/EvseSecurity/ @AssemblyJohn @pietfried
/modules/EvseV2G/ @corneliusclaussen @SebaLukas
/modules/EvseSlac/ @a-w50 @corneliusclaussen @SebaLukas
/modules/OCPP/ @hikinggrass @pietfried
/modules/OCPP201/ @hikinggrass @pietfried
/modules/PacketSniffer @corneliusclaussen @SebaLukas
/modules/PyEvJosev @SebaLukas @corneliusclaussen
/modules/Setup @hikinggrass @corneliusclaussen
/modules/YetiDriver @corneliusclaussen @hikinggrass
/modules/simulation/ @SebaLukas @pietfried
/modules/rust_examples/ @SirVer @golovasteek @dorezyuk

# Rust & Bazel
*.rs @SirVer @golovasteek @dorezyuk
*.bazel @SirVer @golovasteek @dorezyuk
*.bzl @SirVer @golovasteek @dorezyuk

addressed PR comments: * moved generate_session_uuid outside Charger class * made get_session_id const * using string clear func
  modules/EvseManager/Charger.cpp
  modules/EvseManager/Charger.hpp
  modules/EvseManager/evse/evse_managerImpl.cpp
Owners: @corneliusclaussen, @SebaLukas

calling set_connection_timeout on start up to apply the value that is set (#557)
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Resetting next message to send in case we receive a CALL message while in ConnectionState::Rejected (#558)
  include/ocpp/common/message_queue.hpp
  lib/ocpp/v16/charge_point_impl.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Improve disconnect procedure of MQTTAbstraction (#170)
  include/utils/mqtt_abstraction_impl.hpp
  lib/mqtt_abstraction_impl.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Yeti: Fix LED blinking in FW (#621)
  modules/YetiDriver/CMakeLists.txt
  modules/YetiDriver/yetiR1_2.0-1_firmware.bin
  modules/YetiDriver/yetiR1_2.1_firmware.bin
Owners: @corneliusclaussen, @hikinggrass

Reviewer remarks
  modules/Cargo.lock
  modules/RsPaymentTerminal/Cargo.toml
  modules/RsPaymentTerminal/manifest.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Start OCSP updater only when successfully connected to CSMS. Increase retry to 24h (#559)
  include/ocpp/v201/ocsp_updater.hpp
  lib/ocpp/v201/charge_point.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

RsPaymentTerminal: initial commit (#589)
  WORKSPACE.bazel
  modules/CMakeLists.txt
  modules/Cargo.lock
  modules/Cargo.toml
  modules/RsPaymentTerminal/BUILD.bazel
  modules/RsPaymentTerminal/Cargo.toml
  modules/RsPaymentTerminal/build.rs
  modules/RsPaymentTerminal/manifest.yaml
  modules/RsPaymentTerminal/src/logger.rs
  modules/RsPaymentTerminal/src/main.rs
  types/money.yaml
  types/session_cost.yaml
Owners: @SirVer, @golovasteek, @dorezyuk, @pietfried, @hikinggrass, @corneliusclaussen

- Fixed an issue that waited for a message to be sent for 20 seconds when the WS was offline. On new behavior it quickly fails. (#560)
  lib/ocpp/common/websocket/websocket_libwebsockets.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Improved validation of TxProfile: (#561)
  lib/ocpp/v16/smart_charging.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Move OCPP201 data transfer conversions
  modules/OCPP201/OCPP201.cpp
  modules/OCPP201/conversions.cpp
  modules/OCPP201/conversions.hpp
  modules/OCPP201/data_transfer/ocpp_data_transferImpl.cpp
Owners: @hikinggrass, @pietfried

statemachine returns faulted if faulted (#562)
  lib/ocpp/v16/charge_point_state_machine.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

replace rcd_error with diode_fail to produce faulted state in OCPP (#128)
  everest-testing/src/everest/testing/core_utils/controller/everest_test_controller.py
  everest-testing/src/everest/testing/core_utils/controller/test_controller_interface.py
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Changed OCPP modules to use new sql migration paths
  modules/OCPP/OCPP.cpp
  modules/OCPP201/OCPP201.cpp
Owners: @hikinggrass, @pietfried

Bump version of everest-framework
  dependencies.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Use native json conversion functions
  tests/everest-core_tests/modules/TestErrorHandling/main/test_error_handlingImpl.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Update libocpp dependency
  dependencies.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Response TriggerMessage Rejected for MeterValues if the measurand does not exist (#564)
  lib/ocpp/v201/charge_point.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Remove inappropriate "minimum" for array items
  types/authorization.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Fix build of RsPaymentTerminal caused by type change
  modules/RsPaymentTerminal/src/main.rs
Owners: @SirVer, @golovasteek, @dorezyuk

Various custom data extensions (#605)
  dependencies.yaml
  interfaces/ocpp.yaml
  modules/OCPP201/OCPP201.cpp
  modules/OCPP201/conversions.cpp
  modules/OCPP201/conversions.hpp
  modules/OCPP201/data_transfer/ocpp_data_transferImpl.cpp
  modules/RsPaymentTerminal/src/main.rs
  types/authorization.yaml
  types/ocpp.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SirVer, @golovasteek, @dorezyuk

Fix unchecked optional access in Charger.cpp (#626)
  modules/EvseManager/Charger.cpp
  modules/EvseManager/Charger.hpp
  modules/EvseManager/evse/evse_managerImpl.cpp
  modules/EvseManager/evse/evse_managerImpl.hpp
Owners: @corneliusclaussen, @SebaLukas

* Added transaction_handler + tests for handling of configurable TxStartPoints and TxStopPoints
  modules/OCPP201/tests/CMakeLists.txt
  modules/OCPP201/tests/transaction_handler_tests.cpp
  modules/OCPP201/transaction_handler.cpp
  modules/OCPP201/transaction_handler.hpp
Owners: @hikinggrass, @pietfried

* removed MeterValue from being required for SessionEvent * instead added ChargingStateChangedEvent that provides required property meter_value
  modules/API/API.cpp
  modules/Auth/tests/auth_tests.cpp
  modules/EvseManager/evse/evse_managerImpl.cpp
  modules/OCPP/OCPP.cpp
  modules/OCPP201/OCPP201.cpp
  modules/OCPP201/transaction_handler.hpp
  types/evse_manager.yaml
Owners: @hikinggrass, @pietfried, @corneliusclaussen, @SebaLukas

* added single functions to process EvseManager SessionEvents * added handling on variable change of TxStart and TxStop points at runtime
  modules/OCPP201/OCPP201.cpp
  modules/OCPP201/OCPP201.hpp
  modules/OCPP201/tests/transaction_handler_tests.cpp
  modules/OCPP201/transaction_handler.cpp
  modules/OCPP201/transaction_handler.hpp
Owners: @hikinggrass, @pietfried

clang-format
  modules/EvseManager/evse/evse_managerImpl.cpp
Owners: @corneliusclaussen, @SebaLukas

clang format
  modules/OCPP201/OCPP201.cpp
Owners: @hikinggrass, @pietfried

added Authorization type that contains meter value
  modules/EvseManager/evse/evse_managerImpl.cpp
  modules/OCPP201/OCPP201.cpp
  types/evse_manager.yaml
Owners: @corneliusclaussen, @SebaLukas, @hikinggrass, @pietfried

Fix exception message wording
  modules/OCPP201/transaction_handler.cpp
Owners: @hikinggrass, @pietfried

not reacting to dedicated Authorize event because handled by SessionStarted
  modules/OCPP201/OCPP201.cpp
Owners: @hikinggrass, @pietfried

bump libocpp to 0f471de
  dependencies.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen

updated timestamps
  modules/EvseManager/evse/evse_managerImpl.cpp
Owners: @corneliusclaussen, @SebaLukas

OCPP2.0.1: Configurable TxStart and TxStop points (#611)
  dependencies.yaml
  modules/Auth/tests/auth_tests.cpp
  modules/EvseManager/Charger.cpp
  modules/EvseManager/Charger.hpp
  modules/EvseManager/EvseManager.cpp
  modules/EvseManager/evse/evse_managerImpl.cpp
  modules/OCPP/OCPP.cpp
  modules/OCPP201/CMakeLists.txt
  modules/OCPP201/OCPP201.cpp
  modules/OCPP201/OCPP201.hpp
  modules/OCPP201/tests/CMakeLists.txt
  modules/OCPP201/tests/transaction_handler_tests.cpp
  modules/OCPP201/transaction_handler.cpp
  modules/OCPP201/transaction_handler.hpp
  types/evse_manager.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas

fix: address mutex deadlock in state machine
  modules/EvseManager/EventQueue.hpp
  modules/EvseManager/IECStateMachine.cpp
  modules/EvseManager/tests/CMakeLists.txt
  modules/EvseManager/tests/EventQueueTest.cpp
  modules/EvseManager/tests/EvseManagerStub.hpp
  modules/EvseManager/tests/IECStateMachineTest.cpp
  modules/EvseManager/tests/ModuleAdapterStub.hpp
  modules/EvseManager/tests/evse_board_supportIntfStub.hpp
Owners: @corneliusclaussen, @SebaLukas

fix: clang format
  modules/EvseManager/IECStateMachine.cpp
Owners: @corneliusclaussen, @SebaLukas

fix: compiler version difference fix
  modules/EvseManager/tests/IECStateMachineTest.cpp
Owners: @corneliusclaussen, @SebaLukas

Allowing NotifyReportResponse by CSMS in pending (#565)
  lib/ocpp/v201/charge_point.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

fix: skip tests that are not running reliably (timing issue)
  modules/EvseManager/tests/IECStateMachineTest.cpp
Owners: @corneliusclaussen, @SebaLukas

fix: address mutex deadlock in state machine (#627)
  modules/EvseManager/EventQueue.hpp
  modules/EvseManager/IECStateMachine.cpp
  modules/EvseManager/tests/CMakeLists.txt
  modules/EvseManager/tests/EventQueueTest.cpp
  modules/EvseManager/tests/EvseManagerStub.hpp
  modules/EvseManager/tests/IECStateMachineTest.cpp
  modules/EvseManager/tests/ModuleAdapterStub.hpp
  modules/EvseManager/tests/evse_board_supportIntfStub.hpp
Owners: @corneliusclaussen, @SebaLukas

Bump version to 0.12.0 (#181)
  CMakeLists.txt
Owners: @pietfried, @hikinggrass, @corneliusclaussen
