Repository EVerest/everest-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre, @a-w50, @MarzellT, @james-ctc, @AssemblyJohn, @SirVer, @dorezyuk, @rckstrh

.github/CODEOWNERS:

# default option unless later match takes precedence
* @pietfried @hikinggrass @corneliusclaussen @SebaLukas @andistorm @mlitre

# .ci
/.ci/ @pietfried @hikinggrass @corneliusclaussen @andistorm

# .github
/.github/ @pietfried @corneliusclaussen
/.github/workflows/ @pietfried @corneliusclaussen @andistorm

# cmake
/cmake/ @hikinggrass @a-w50 @corneliusclaussen @andistorm

# config
/config/ @hikinggrass @pietfried @corneliusclaussen @SebaLukas @MarzellT @mlitre

# lib
/lib/3rd_party/nanopb/ @a-w50 @corneliusclaussen @hikinggrass
/lib/everest/can_dpm1000/ @a-w50 @corneliusclaussen @hikinggrass
/lib/everest/gpio/ @corneliusclaussen @hikinggrass @hikinggrass
/lib/everest/conversions/ @hikinggrass @pietfried @corneliusclaussen @mlitre
/lib/everest/slac/ @a-w50 @corneliusclaussen @SebaLukas
/lib/everest/tls/ @james-ctc @AssemblyJohn @corneliusclaussen @SebaLukas

# modules
/modules/API/ @hikinggrass @pietfried @corneliusclaussen
/modules/EnergyManagement/Energymanager/ @corneliusclaussen @hikinggrass @pietfried
/modules/EnergyManagement/EnergyNode/ @corneliusclaussen @hikinggrass @pietfried
/modules/EV/EvManager/ @SebaLukas @pietfried @MarzellT
/modules/EV/PyEvJosev/ @SebaLukas @corneliusclaussen @pietfried
/modules/EVSE/Auth/ @pietfried @corneliusclaussen @hikinggrass @mlitre
/modules/EVSE/Evse15118D20/ @SebaLukas @a-w50 @corneliusclaussen @pietfried @hikinggrass @MarzellT
/modules/EVSE/EvseManager/ @corneliusclaussen @SebaLukas @hikinggrass @pietfried @mlitre
/modules/EVSE/EvseSecurity/ @AssemblyJohn @pietfried @hikinggrass
/modules/EVSE/EvseSlac/ @a-w50 @corneliusclaussen @SebaLukas @pietfried @hikinggrass
/modules/EVSE/EvseV2G/ @corneliusclaussen @SebaLukas @james-ctc @pietfried @hikinggrass @MarzellT
/modules/EVSE/OCPP/ @hikinggrass @pietfried @mlitre
/modules/EVSE/OCPP201/ @hikinggrass @pietfried @mlitre
/modules/Examples/CppExamples/error-framework/ @corneliusclaussen @hikinggrass @pietfried @andistorm
/modules/Examples/RustExamples/ @SirVer @dorezyuk
/modules/HardwareDrivers/EVSE/PhyVersoBSP/ @pietfried @hikinggrass @corneliusclaussen @dorezyuk @rckstrh
/modules/HardwareDrivers/EVSE/YetiDriver/ @corneliusclaussen @hikinggrass
/modules/Misc/ErrorHistory/ @corneliusclaussen @hikinggrass @pietfried @andistorm
/modules/Misc/PacketSniffer/ @corneliusclaussen @SebaLukas @hikinggrass
/modules/Misc/Setup/ @hikinggrass @corneliusclaussen @pietfried
/modules/Simulation/ @SebaLukas @pietfried @hikinggrass
/modules/Simulation/SlacSimulator/ @SebaLukas @pietfried @corneliusclaussen @MarzellT
/modules/Simulation/YetiSimulator/ @SebaLukas @pietfried @corneliusclaussen @MarzellT
**/Cargo.toml @SirVer @dorezyuk @pietfried @hikinggrass
**/Cargo.lock @SirVer @dorezyuk @pietfried @hikinggrass


# Rust & Bazel
*.rs @SirVer @dorezyuk @pietfried @hikinggrass
*.bazel @SirVer @dorezyuk @pietfried @hikinggrass
*.bzl @SirVer @dorezyuk @pietfried @hikinggrass

# third-party/bazel
/third-party/bazel/deps_versions.bzl @pietfried @hikinggrass @corneliusclaussen @SebaLukas @a-w50 @SirVer @dorezyuk

/dependencies.yaml @hikinggrass @pietfried @corneliusclaussen @SebaLukas @AssemblyJohn @mlitre
/module-dependencies.cmake @hikinggrass @pietfried @corneliusclaussen @SebaLukas @AssemblyJohn @mlitre

EvseV2G: restore ISO 15118-2 supportedAppProtocolRes response code OK_SuccessfulNegotiation (#1410)
  modules/EVSE/EvseV2G/v2g.hpp
  modules/EVSE/EvseV2G/v2g_server.cpp
Owners: @corneliusclaussen, @SebaLukas, @james-ctc, @pietfried, @hikinggrass, @MarzellT

EvseV2G: ensure that session id is != 0 (#1403)
  modules/EVSE/EvseV2G/iso_server.cpp
Owners: @corneliusclaussen, @SebaLukas, @james-ctc, @pietfried, @hikinggrass, @MarzellT

EvseV2G/IsoMux: remove insecure cipher ECDH-ECDSA-AES128-SHA256 from list (#1405)
  modules/EVSE/EvseV2G/connection/tls_connection.cpp
  modules/EVSE/IsoMux/connection/tls_connection.cpp
Owners: @corneliusclaussen, @SebaLukas, @james-ctc, @pietfried, @hikinggrass, @MarzellT, @andistorm, @mlitre

EvseV2G: Create session id with generate_random_data() instead of rand() (#1407)
  modules/EVSE/EvseV2G/iso_server.cpp
Owners: @corneliusclaussen, @SebaLukas, @james-ctc, @pietfried, @hikinggrass, @MarzellT

Various fixes to CMake's Rust support (#1408)
  cmake/everest-generate.cmake
Owners: @hikinggrass, @a-w50, @corneliusclaussen, @andistorm

Refactoring Evse15118D20: Move some anoynm functions in utils.hpp/cpp (#1394)
  modules/EVSE/Evse15118D20/charger/ISO15118_chargerImpl.cpp
  modules/EVSE/Evse15118D20/charger/utils.cpp
  modules/EVSE/Evse15118D20/charger/utils.hpp
Owners: @SebaLukas, @a-w50, @corneliusclaussen, @pietfried, @hikinggrass, @MarzellT

Slac: Fix Qualcomm firmware version & build date (#1412)
  lib/everest/slac/fsm/evse/src/states/others.cpp
Owners: @a-w50, @corneliusclaussen, @SebaLukas

Move error-framework example modules (#1389)
  modules/Examples/CMakeLists.txt
  modules/Examples/CppExamples/CMakeLists.txt
  modules/Examples/error-framework/CMakeLists.txt
  modules/Examples/error-framework/ExampleErrorGlobalSubscriber/CMakeLists.txt
  modules/Examples/error-framework/ExampleErrorGlobalSubscriber/ExampleErrorGlobalSubscriber.cpp
  modules/Examples/error-framework/ExampleErrorGlobalSubscriber/ExampleErrorGlobalSubscriber.hpp
  modules/Examples/error-framework/ExampleErrorGlobalSubscriber/doc.rst
  modules/Examples/error-framework/ExampleErrorGlobalSubscriber/example_global_subscriber/example_error_frameworkImpl.cpp
  modules/Examples/error-framework/ExampleErrorGlobalSubscriber/example_global_subscriber/example_error_frameworkImpl.hpp
  modules/Examples/error-framework/ExampleErrorGlobalSubscriber/manifest.yaml
  modules/Examples/error-framework/ExampleErrorRaiser/CMakeLists.txt
  modules/Examples/error-framework/ExampleErrorRaiser/ExampleErrorRaiser.cpp
  modules/Examples/error-framework/ExampleErrorRaiser/ExampleErrorRaiser.hpp
  modules/Examples/error-framework/ExampleErrorRaiser/doc.rst
  modules/Examples/error-framework/ExampleErrorRaiser/example_raiser/example_error_frameworkImpl.cpp
  modules/Examples/error-framework/ExampleErrorRaiser/example_raiser/example_error_frameworkImpl.hpp
  modules/Examples/error-framework/ExampleErrorRaiser/manifest.yaml
  modules/Examples/error-framework/ExampleErrorSubscriber/CMakeLists.txt
  modules/Examples/error-framework/ExampleErrorSubscriber/ExampleErrorSubscriber.cpp
  modules/Examples/error-framework/ExampleErrorSubscriber/ExampleErrorSubscriber.hpp
  modules/Examples/error-framework/ExampleErrorSubscriber/doc.rst
  modules/Examples/error-framework/ExampleErrorSubscriber/example_subscriber/example_error_frameworkImpl.cpp
  modules/Examples/error-framework/ExampleErrorSubscriber/example_subscriber/example_error_frameworkImpl.hpp
  modules/Examples/error-framework/ExampleErrorSubscriber/manifest.yaml
  modules/Examples/error-framework/PyExampleErrorRaiser/CMakeLists.txt
  modules/Examples/error-framework/PyExampleErrorRaiser/manifest.yaml
  modules/Examples/error-framework/PyExampleErrorRaiser/module.py
  modules/Examples/error-framework/PyExampleErrorSubscriber/CMakeLists.txt
  modules/Examples/error-framework/PyExampleErrorSubscriber/manifest.yaml
  modules/Examples/error-framework/PyExampleErrorSubscriber/module.py
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

PhyVersoBSP: BSP rework alongside new MCU firmware release (#1414)
  modules/HardwareDrivers/EVSE/PhyVersoBSP/PhyVersoBSP.cpp
  modules/HardwareDrivers/EVSE/PhyVersoBSP/PhyVersoBSP.hpp
  modules/HardwareDrivers/EVSE/PhyVersoBSP/cli_config_hella_lock.json
  modules/HardwareDrivers/EVSE/PhyVersoBSP/cli_config_potentiometer_lock.json
  modules/HardwareDrivers/EVSE/PhyVersoBSP/connector_1/evse_board_supportImpl.cpp
  modules/HardwareDrivers/EVSE/PhyVersoBSP/connector_1/evse_board_supportImpl.hpp
  modules/HardwareDrivers/EVSE/PhyVersoBSP/connector_2/evse_board_supportImpl.cpp
  modules/HardwareDrivers/EVSE/PhyVersoBSP/connector_2/evse_board_supportImpl.hpp
  modules/HardwareDrivers/EVSE/PhyVersoBSP/example_config_pionix.json
  modules/HardwareDrivers/EVSE/PhyVersoBSP/example_config_qwello.json
  modules/HardwareDrivers/EVSE/PhyVersoBSP/manifest.yaml
  modules/HardwareDrivers/EVSE/PhyVersoBSP/phyverso_cli/main.cpp
  modules/HardwareDrivers/EVSE/PhyVersoBSP/phyverso_mcu_comms/evConfig.cpp
  modules/HardwareDrivers/EVSE/PhyVersoBSP/phyverso_mcu_comms/evConfig.h
  modules/HardwareDrivers/EVSE/PhyVersoBSP/phyverso_mcu_comms/evSerial.cpp
  modules/HardwareDrivers/EVSE/PhyVersoBSP/phyverso_mcu_comms/evSerial.h
  modules/HardwareDrivers/EVSE/PhyVersoBSP/phyverso_mcu_comms/protobuf/phyverso.options
  modules/HardwareDrivers/EVSE/PhyVersoBSP/phyverso_mcu_comms/protobuf/phyverso.pb.c
  modules/HardwareDrivers/EVSE/PhyVersoBSP/phyverso_mcu_comms/protobuf/phyverso.pb.h
  modules/HardwareDrivers/EVSE/PhyVersoBSP/phyverso_mcu_comms/protobuf/phyverso.proto
  modules/HardwareDrivers/EVSE/PhyVersoBSP/rcd_1/ac_rcdImpl.hpp
  modules/HardwareDrivers/EVSE/PhyVersoBSP/rcd_2/ac_rcdImpl.hpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @dorezyuk, @rckstrh

EvseV2G: Clarify behavior of v2g_incoming_v2gtp (#1418)
  modules/EVSE/EvseV2G/v2g_server.cpp
Owners: @corneliusclaussen, @SebaLukas, @james-ctc, @pietfried, @hikinggrass, @MarzellT

final updates
  config/config-sil-ac-d20.yaml
  dependencies.yaml
Owners: @hikinggrass, @pietfried, @corneliusclaussen, @SebaLukas, @MarzellT, @mlitre, @AssemblyJohn

enable departure time
  config/config-sil-ac-d20.yaml
  config/config-sil-dc-d20.yaml
  config/nodered/config-sil-dc-bpt-flow.json
  config/nodered/config-sil-dc-flow.json
  config/nodered/config-sil-energy-management-flow.json
  config/nodered/config-sil-flow.json
  config/nodered/config-sil-two-evse-flow.json
  dependencies.yaml
  interfaces/ISO15118_ev.yaml
  modules/EV/EvManager/EvManager.hpp
  modules/EV/EvManager/doc.rst
  modules/EV/EvManager/main/car_simulation.cpp
  modules/EV/EvManager/main/car_simulatorImpl.cpp
  modules/EV/EvManager/manifest.yaml
  modules/EV/PyEvJosev/module.py
  modules/EVSE/EvseV2G/iso_server.cpp
  tests/core_tests/startup_tests.py
Owners: @hikinggrass, @pietfried, @corneliusclaussen, @SebaLukas, @MarzellT, @mlitre, @AssemblyJohn, @andistorm, @james-ctc

Revert "Merge branch 'departure-time-signed' of https://github.com/Abby-Wheelis/everest-core into departure-time-signed"
  modules/EV/EvManager/manifest.yaml
  modules/EVSE/EvseV2G/iso_server.cpp
Owners: @SebaLukas, @pietfried, @MarzellT, @corneliusclaussen, @james-ctc, @hikinggrass

Add compatibility with boost 1.89 while retaining backwards compatibility
  CMakeLists.txt
  cmake/compatibility/boost.cmake
  cmake/compatibility/boost_systemConfig.cmake
  cmake/compatibility/boost_systemConfigVersion.cmake
  modules/EVSE/Auth/include/ReservationHandler.hpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre, @a-w50

Read and send temperature_limit_pt1000_C
  stable_api_drivers/pionix_chargebridge/config/config-jha.yaml
  stable_api_drivers/pionix_chargebridge/include/charge_bridge/utilities/type_converters.hpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

new package defs for OVM
  config/bringup/config-bringup-bender-isocha.yaml
  config/bringup/config-bringup-huawei.yaml
  stable_api_drivers/pionix_chargebridge/shared/protocol/cb_common.h
  stable_api_drivers/pionix_chargebridge/shared/protocol/cb_management.h
  stable_api_drivers/pionix_chargebridge/shared/protocol/evse_bsp_cb_to_host.h
  stable_api_drivers/pionix_chargebridge/shared/protocol/evse_bsp_host_to_cb.h
  stable_api_drivers/pionix_chargebridge/shared/protocol/test/evse_bsp_cb_to_host_test.h
  stable_api_drivers/pionix_chargebridge/shared/protocol/test/evse_bsp_host_to_cb_test.h
Owners: @hikinggrass, @pietfried, @corneliusclaussen, @SebaLukas, @MarzellT, @mlitre, @andistorm

OVM adaptation
  stable_api_drivers/pionix_chargebridge/include/charge_bridge/everest_api/ovm_api.hpp
  stable_api_drivers/pionix_chargebridge/src/everest_api/ovm_api.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Location of firmware relative to config path
  stable_api_drivers/pionix_chargebridge/src/utilities/parse_config.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

fix the framework version
  MODULE.bazel
  modules/Cargo.lock
  modules/Cargo.toml
  modules/HardwareDrivers/Payment/RsPaymentTerminal/src/main.rs
Owners: @SirVer, @dorezyuk, @pietfried, @hikinggrass

new firmware
  stable_api_drivers/pionix_chargebridge/firmware/charge-bridge-fw_complete.cbfw
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

fix iskra meter
  modules/HardwareDrivers/PowerMeters/RsIskraMeter/src/main.rs
Owners: @SirVer, @dorezyuk, @pietfried, @hikinggrass

fix tests
  modules/HardwareDrivers/Payment/RsPaymentTerminal/src/main.rs
Owners: @SirVer, @dorezyuk, @pietfried, @hikinggrass

FW with can baud rate
  stable_api_drivers/pionix_chargebridge/firmware/charge-bridge-fw_complete.cbfw
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Add heartbeat check
  stable_api_drivers/pionix_chargebridge/include/charge_bridge/heartbeat_service.hpp
  stable_api_drivers/pionix_chargebridge/src/heartbeat_service.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Fix FW update excact multiple of 1024 bytes
  stable_api_drivers/pionix_chargebridge/src/firmware_update/sync_fw_updater.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Bump everes-utils version to 0.7.2
  dependencies.yaml
Owners: @hikinggrass, @pietfried, @corneliusclaussen, @SebaLukas, @AssemblyJohn, @mlitre

FW with CAN fixes
  stable_api_drivers/pionix_chargebridge/firmware/charge-bridge-fw_complete.cbfw
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Update README with checksum computation instructions
  lib/everest/everest_api_types/README.md
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Implementation of voltage monitoring L1 and L2 to protective earth (#1466)
  doc/everest_api_specs/isolation_monitor_API/asyncapi.yaml
  lib/everest/everest_api_types/README.md
  lib/everest/everest_api_types/include/everest_api_types/isolation_monitor/API.hpp
  lib/everest/everest_api_types/src/everest_api_types/isolation_monitor/json_codec.cpp
  lib/everest/everest_api_types/src/everest_api_types/isolation_monitor/wrapper.cpp
  lib/everest/everest_api_types/tests/expected_types_file_hashes.csv
  modules/BringUp/BUIsolationMonitor/BUIsolationMonitor.cpp
  modules/HardwareDrivers/IsolationMonitors/Bender_isoCHA425HV/Bender_isoCHA425HV.hpp
  modules/HardwareDrivers/IsolationMonitors/Bender_isoCHA425HV/main/isolation_monitorImpl.cpp
  modules/HardwareDrivers/IsolationMonitors/Bender_isoCHA425HV/main/isolation_monitorImpl.hpp
  modules/HardwareDrivers/IsolationMonitors/Bender_isoCHA425HV/manifest.yaml
  types/isolation_monitor.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

fix(EvseV2G): Remove certificate service in session setup handler if pnc is not available
  modules/EVSE/EvseV2G/charger/ISO15118_chargerImpl.cpp
Owners: @corneliusclaussen, @SebaLukas, @james-ctc, @pietfried, @hikinggrass, @MarzellT

fix(EvseV2G): Remove certificate service in session setup handler if pnc is not available (#1470)
  modules/EVSE/EvseV2G/charger/ISO15118_chargerImpl.cpp
Owners: @corneliusclaussen, @SebaLukas, @james-ctc, @pietfried, @hikinggrass, @MarzellT

feat(slac): Added external slac API module
  config/bringup/CMakeLists.txt
  config/bringup/config-bringup-api-slac.yaml
  doc/everest_api_specs/slac_API/asyncapi.yaml
  modules/API/CMakeLists.txt
  modules/API/slac_API/CMakeLists.txt
  modules/API/slac_API/doc.rst
  modules/API/slac_API/docs/index.rst
  modules/API/slac_API/main/slacImpl.cpp
  modules/API/slac_API/main/slacImpl.hpp
  modules/API/slac_API/manifest.yaml
  modules/API/slac_API/slac_API.cpp
  modules/API/slac_API/slac_API.hpp
  modules/BringUp/BUSlac/BUSlac.cpp
  modules/BringUp/BUSlac/BUSlac.hpp
  modules/BringUp/BUSlac/CMakeLists.txt
  modules/BringUp/BUSlac/doc.rst
  modules/BringUp/BUSlac/docs/index.rst
  modules/BringUp/BUSlac/main/emptyImpl.cpp
  modules/BringUp/BUSlac/main/emptyImpl.hpp
  modules/BringUp/BUSlac/manifest.yaml
  modules/BringUp/CMakeLists.txt
Owners: @hikinggrass, @pietfried, @corneliusclaussen, @SebaLukas, @MarzellT, @mlitre, @andistorm

Addressed requested changes
  doc/everest_api_specs/slac_API/asyncapi.yaml
  modules/API/slac_API/doc.rst
  modules/API/slac_API/main/slacImpl.cpp
  modules/API/slac_API/main/slacImpl.hpp
  modules/API/slac_API/manifest.yaml
  modules/API/slac_API/slac_API.cpp
  modules/API/slac_API/slac_API.hpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

feat(ocpp2): Add a reset stop delay config like v16
  modules/EVSE/OCPP201/OCPP201.cpp
  modules/EVSE/OCPP201/OCPP201.hpp
  modules/EVSE/OCPP201/manifest.yaml
Owners: @hikinggrass, @pietfried, @mlitre

Adding negative_bidirectional_limits config option to convert the discharge limits to negative values if necessary
  modules/EVSE/Evse15118D20/Evse15118D20.hpp
  modules/EVSE/Evse15118D20/charger/ISO15118_chargerImpl.cpp
  modules/EVSE/Evse15118D20/manifest.yaml
Owners: @SebaLukas, @a-w50, @corneliusclaussen, @pietfried, @hikinggrass, @MarzellT

EVerest 2025.9.0
  .gitignore
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Squashed 'everest-cmake/' content from commit 0f209962
  3rd_party/CPM.cmake
  3rd_party/CodeCoverage.cmake
  LICENSE
  README.rst
  THIRD_PARTY.rst
  assets/version_information.hpp.in
  assets/version_information.txt.in
  bundling.cmake
  ccache.cmake
  edm.cmake
  everest-cmake-config-version.cmake
  everest-cmake-config.cmake
  packaging-helper.cmake
  python-package-helpers.cmake
  python-virtualenv.cmake
  version-information.cmake
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre
