Repository EVerest/everest-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pietfried, @hikinggrass, @corneliusclaussen, @a-w50, @SebaLukas, @AssemblyJohn, @SirVer, @golovasteek, @dorezyuk

Bump everest-utils version to v0.2.1
  dependencies.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Bump everest-utils version to v0.2.1 (#581)
  dependencies.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Support for groupIdToken and MasterPassGroupId (#577)
  config/nodered/config-sil-two-evse-flow.json
  interfaces/auth.yaml
  modules/Auth/Auth.cpp
  modules/Auth/Auth.hpp
  modules/Auth/include/AuthHandler.hpp
  modules/Auth/include/Connector.hpp
  modules/Auth/lib/AuthHandler.cpp
  modules/Auth/main/authImpl.cpp
  modules/Auth/main/authImpl.hpp
  modules/Auth/manifest.yaml
  modules/Auth/tests/auth_tests.cpp
  modules/DummyTokenProvider/main/auth_token_providerImpl.cpp
  modules/DummyTokenValidator/main/auth_token_validatorImpl.cpp
  modules/EvseManager/EvseManager.cpp
  modules/EvseManager/evse/evse_managerImpl.cpp
  modules/EvseV2G/iso_server.cpp
  modules/OCPP/OCPP.cpp
  modules/OCPP/auth_validator/auth_token_validatorImpl.cpp
  modules/OCPP201/OCPP201.cpp
  modules/OCPP201/auth_validator/auth_token_validatorImpl.cpp
  modules/OCPP201/conversions.cpp
  modules/OCPP201/conversions.hpp
  modules/PN532TokenProvider/main/auth_token_providerImpl.cpp
  modules/deprecated/JsDummyTokenProvider/index.js
  modules/deprecated/JsDummyTokenValidator/index.js
  types/authorization.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas

SmartChargingHandler: Add validation for TxProfiles (#452)
  include/ocpp/v201/charge_point.hpp
  include/ocpp/v201/component_state_manager.hpp
  include/ocpp/v201/connector.hpp
  include/ocpp/v201/evse.hpp
  include/ocpp/v201/smart_charging.hpp
  lib/CMakeLists.txt
  lib/ocpp/v201/component_state_manager.cpp
  lib/ocpp/v201/connector.cpp
  lib/ocpp/v201/database_handler.cpp
  lib/ocpp/v201/evse.cpp
  lib/ocpp/v201/smart_charging.cpp
  tests/lib/ocpp/v201/CMakeLists.txt
  tests/lib/ocpp/v201/mocks/component_state_manager_mock.hpp
  tests/lib/ocpp/v201/mocks/device_model_storage_mock.hpp
  tests/lib/ocpp/v201/test_smart_charging_handler.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

fix(save_config): non existing strings (#137)
  CMakeLists.txt
  src/controller/CMakeLists.txt
  src/controller/command_api.cpp
  src/controller/transpile_config.cpp
  src/controller/transpile_config.hpp
  tests/CMakeLists.txt
  tests/controller/CMakeLists.txt
  tests/controller/test_transpile_config.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Update fmtlib dependency to v10.1.0 (#163)
  dependencies.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen

add 1.6 k01 clear all profiles with filter tests (#447)
  .ci/build-kit/install_and_test.sh
  include/ocpp/v16/database_handler.hpp
  tests/CMakeLists.txt
  tests/database_handler_mock.hpp
  tests/lib/ocpp/v16/CMakeLists.txt
  tests/lib/ocpp/v16/test_smart_charging_handler.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Fix WriteOnly and ReadOnly variable reporting (#523)
  lib/ocpp/v201/device_model.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Probe modul ready signal (#122)
  everest-testing/src/everest/testing/__init__.py
  everest-testing/src/everest/testing/core_utils/probe_module.py
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Bugfix/494 libocpp verify csms cn wildcard (#516)
  config/v16/profile_schemas/Internal.json
  config/v201/component_schemas/standardized/InternalCtrlr.json
  include/ocpp/common/websocket/websocket_base.hpp
  include/ocpp/v16/charge_point_configuration.hpp
  include/ocpp/v201/ctrlr_component_variables.hpp
  lib/ocpp/common/websocket/websocket_libwebsockets.cpp
  lib/ocpp/common/websocket/websocket_tls.cpp
  lib/ocpp/v16/charge_point_configuration.cpp
  lib/ocpp/v16/charge_point_impl.cpp
  lib/ocpp/v201/charge_point.cpp
  lib/ocpp/v201/ctrlr_component_variables.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Use git_repository
  third-party/bazel/repos.bzl
Owners: @SirVer, @golovasteek, @dorezyuk

feat: create YAML/JSON definition for charging schedule
  interfaces/ocpp.yaml
  interfaces/ocpp_1_6_charge_point.yaml
  modules/OCPP/OCPP.cpp
  types/ocpp.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen

fix: Arrays not supported by the autogenerated code
  interfaces/ocpp.yaml
  modules/OCPP/OCPP.cpp
  types/ocpp.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen

GenericPowermeter: add new model Klefr 693x-694x
  modules/GenericPowermeter/models/Klefr_693x-694x.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Added SWTCH to list of 2.0.1 CSMS (#526)
  README.md
Owners: @pietfried, @hikinggrass, @corneliusclaussen

switch iso1 to cbv2g iso2 and remove openv2g
  .clangd
  CMakeLists.txt
  modules/EvseV2G/CMakeLists.txt
  modules/EvseV2G/charger/ISO15118_chargerImpl.cpp
  modules/EvseV2G/din_server.cpp
  modules/EvseV2G/iso_server.cpp
  modules/EvseV2G/v2g.hpp
  modules/EvseV2G/v2g_ctx.cpp
  modules/EvseV2G/v2g_ctx.hpp
  modules/EvseV2G/v2g_server.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas

make fields in SignedInfo unused to comply with V2G2-771
  modules/EvseV2G/iso_server.cpp
Owners: @corneliusclaussen, @SebaLukas

GenericPowermeter: add new model Klefr 693x-694x (#560)
  modules/GenericPowermeter/models/Klefr_693x-694x.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen

EnergyManager: fix high CPU load in some scenarios
  modules/EnergyManager/Market.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

API: publish ocpp schedule only when updated
  modules/API/API.cpp
  modules/API/API.hpp
Owners: @hikinggrass

Fix description
  interfaces/uk_random_delay.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Add start time for random delays
  modules/API/API.cpp
  modules/API/README.md
  modules/EvseManager/EvseManager.hpp
  modules/EvseManager/energy_grid/energyImpl.cpp
  types/uk_random_delay.yaml
Owners: @hikinggrass, @corneliusclaussen, @SebaLukas, @pietfried

fix: publish charging schedules assert
  modules/API/API.cpp
  modules/API/API.hpp
Owners: @hikinggrass

Initialize random generator
  modules/EvseManager/energy_grid/energyImpl.cpp
Owners: @corneliusclaussen, @SebaLukas

expose current limits during and after random delay
  interfaces/uk_random_delay.yaml
  modules/API/API.cpp
  modules/API/API.hpp
  modules/API/README.md
  modules/EvseManager/energy_grid/energyImpl.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas

Init random delay struct
  modules/API/API.cpp
Owners: @hikinggrass

Add missing type definition
  types/uk_random_delay.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Fix Energy manager timestamps
  modules/EnergyManager/Market.cpp
  modules/EvseManager/Charger.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas

implemented handle_get_variables and handle_set_variables within OCPP201 module
  modules/OCPP201/conversions.cpp
  modules/OCPP201/conversions.hpp
  modules/OCPP201/ocpp_generic/ocppImpl.cpp
Owners: @hikinggrass, @pietfried

Feature/random delays (#530)
  config/config-sil-energy-management.yaml
  interfaces/uk_random_delay.yaml
  modules/API/API.cpp
  modules/API/API.hpp
  modules/API/README.md
  modules/API/manifest.yaml
  modules/EnergyManager/EnergyManager.cpp
  modules/EnergyManager/EnergyManager.hpp
  modules/EnergyManager/Market.cpp
  modules/EvseManager/CMakeLists.txt
  modules/EvseManager/Charger.cpp
  modules/EvseManager/EvseManager.cpp
  modules/EvseManager/EvseManager.hpp
  modules/EvseManager/energy_grid/energyImpl.cpp
  modules/EvseManager/energy_grid/energyImpl.hpp
  modules/EvseManager/manifest.yaml
  modules/EvseManager/random_delay/uk_random_delayImpl.cpp
  modules/EvseManager/random_delay/uk_random_delayImpl.hpp
  types/energy.yaml
  types/uk_random_delay.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas

feat: add optional EVSE id for OCPP 2.0.1
  modules/OCPP/OCPP.cpp
  types/ocpp.yaml
Owners: @hikinggrass, @pietfried, @corneliusclaussen

fix codacy issues
  modules/OCPP201/conversions.cpp
  modules/OCPP201/conversions.hpp
  modules/OCPP201/ocpp_generic/ocppImpl.cpp
Owners: @hikinggrass, @pietfried

External variable access for OCPP2.0.1 (#530)
  include/ocpp/v201/charge_point.hpp
  include/ocpp/v201/comparators.hpp
  include/ocpp/v201/device_model.hpp
  include/ocpp/v201/device_model_storage.hpp
  lib/ocpp/v201/charge_point.cpp
  lib/ocpp/v201/device_model.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

bump libocpp version to 10bb269
  dependencies.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Mocking support and enum code generation in rust, Bazel support extension (#166)
  BUILD.bazel
  everestpy/BUILD.bazel
  everestpy/src/BUILD.bazel
  everestpy/src/everest/framework/__init__.py
  everestrs/everestrs-build/jinja/client.jinja2
  everestrs/everestrs-build/jinja/module.jinja2
  everestrs/everestrs-build/jinja/service.jinja2
  everestrs/everestrs-build/jinja/types.jinja2
  everestrs/everestrs-build/src/codegen.rs
  everestrs/everestrs/README.md
  everestrs/everestrs/src/lib.rs
  schemas/BUILD.bazel
  third-party/bazel/BUILD.bazel
  third-party/bazel/BUILD.date.bazel
  third-party/bazel/defs.bzl
  third-party/bazel/repos.bzl
Owners: @SirVer, @golovasteek, @dorezyuk, @pietfried, @hikinggrass, @corneliusclaussen

fix: addressed PR comments on use of snake_case fix: moved conversions to separate file
  modules/OCPP/OCPP.cpp
  modules/OCPP/conversions.cpp
  modules/OCPP/conversions.hpp
  types/ocpp.yaml
Owners: @hikinggrass, @pietfried, @corneliusclaussen

update everest-framework reference
  modules/Cargo.toml
  third-party/bazel/repos.bzl
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SirVer, @golovasteek, @dorezyuk

update lock
  modules/Cargo.lock
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Add unit tests for using components as keys in map (#522)
  tests/lib/ocpp/v201/test_device_model.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

smart_charging: Add validation for profile schedules (#521)
  include/ocpp/v201/smart_charging.hpp
  lib/ocpp/v201/smart_charging.cpp
  tests/lib/ocpp/v201/test_smart_charging_handler.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

.github/CODEOWNERS:

# default option unless later match takes precedence
* @pietfried @hikinggrass @corneliusclaussen

# .github
/.github/ @pietfried @corneliusclaussen

# cmake
/cmake/ @hikinggrass @a-w50

# modules
/modules/API/ @hikinggrass
/modules/Auth/ @pietfried
/modules/Energymanager/ @corneliusclaussen
/modules/EnergyNode/ @corneliusclaussen
/modules/EvseManager/ @corneliusclaussen @SebaLukas
/modules/EvseSecurity/ @AssemblyJohn @pietfried
/modules/EvseV2G/ @corneliusclaussen @SebaLukas
/modules/EvseSlac/ @a-w50 @corneliusclaussen @SebaLukas
/modules/OCPP/ @hikinggrass @pietfried
/modules/OCPP201/ @hikinggrass @pietfried
/modules/PacketSniffer @corneliusclaussen @SebaLukas
/modules/PyEvJosev @SebaLukas
/modules/Setup @hikinggrass
/modules/YetiDriver @corneliusclaussen
/modules/simulation/ @SebaLukas
/modules/rust_examples/ @SirVer @golovasteek @dorezyuk

# Rust & Bazel
*.rs @SirVer @golovasteek @dorezyuk
*.bazel @SirVer @golovasteek @dorezyuk
*.bzl @SirVer @golovasteek @dorezyuk
