Repository EVerest/everest-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pietfried, @hikinggrass, @corneliusclaussen, @a-w50, @SebaLukas, @AssemblyJohn, @SirVer, @golovasteek, @dorezyuk

.github/CODEOWNERS:

# default option unless later match takes precedence
* @pietfried @hikinggrass @corneliusclaussen

# .github
/.github/ @pietfried @corneliusclaussen

# cmake
/cmake/ @hikinggrass @a-w50

# modules
/modules/API/ @hikinggrass @pietfried
/modules/Auth/ @pietfried @corneliusclaussen
/modules/Energymanager/ @corneliusclaussen @hikinggrass
/modules/EnergyNode/ @corneliusclaussen @hikinggrass
/modules/EvseManager/ @corneliusclaussen @SebaLukas
/modules/EvseSecurity/ @AssemblyJohn @pietfried
/modules/EvseV2G/ @corneliusclaussen @SebaLukas
/modules/EvseSlac/ @a-w50 @corneliusclaussen @SebaLukas
/modules/OCPP/ @hikinggrass @pietfried
/modules/OCPP201/ @hikinggrass @pietfried
/modules/PacketSniffer @corneliusclaussen @SebaLukas
/modules/PyEvJosev @SebaLukas @corneliusclaussen
/modules/Setup @hikinggrass @corneliusclaussen
/modules/YetiDriver @corneliusclaussen @hikinggrass
/modules/simulation/ @SebaLukas @pietfried
/modules/rust_examples/ @SirVer @golovasteek @dorezyuk

# Rust & Bazel
*.rs @SirVer @golovasteek @dorezyuk
*.bazel @SirVer @golovasteek @dorezyuk
*.bzl @SirVer @golovasteek @dorezyuk

Rust: Use logging from the framework
  modules/Cargo.lock
  modules/Cargo.toml
  modules/RsIskraMeter/src/logger.rs
  modules/RsIskraMeter/src/main.rs
  modules/RsPaymentTerminal/src/logger.rs
  modules/RsPaymentTerminal/src/main.rs
  third-party/bazel/repos.bzl
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SirVer, @golovasteek, @dorezyuk

Refactor/use from to json (#469)
  dependencies.yaml
  tests/everest-core_tests/modules/TestErrorHandling/main/test_error_handlingImpl.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

initialize nr_of_evses with 0 (#570)
  lib/ocpp/v201/device_model.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Bazel: Allow importing Rust modules into user workspace
  WORKSPACE.bazel
  modules/RsIskraMeter/BUILD.bazel
  modules/RsPaymentTerminal/BUILD.bazel
  modules/rust_examples/RsExample/BUILD.bazel
  modules/rust_examples/RsExampleUser/BUILD.bazel
  third-party/bazel/defs.bzl
  third-party/bazel/repos.bzl
Owners: @SirVer, @golovasteek, @dorezyuk

Fixed message received from CSMS too large (#569)
  include/ocpp/common/websocket/websocket_libwebsockets.hpp
  lib/ocpp/common/websocket/websocket_libwebsockets.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Remove redundant conversions for CustomData (#571)
  include/ocpp/v201/ocpp_types.hpp
  lib/ocpp/v201/ocpp_types.cpp
  src/code_generator/common/templates/ocpp_types.cpp.jinja
  src/code_generator/common/templates/ocpp_types.hpp.jinja
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Added IdTagInfo param to transaction_updated_callback
  modules/OCPP/OCPP.cpp
Owners: @hikinggrass, @pietfried

Add IdTagInfo to startTransaction.conf callbacks (#498)
  CMakeLists.txt
  include/ocpp/v16/charge_point.hpp
  include/ocpp/v16/charge_point_impl.hpp
  lib/ocpp/v16/charge_point.cpp
  lib/ocpp/v16/charge_point_impl.cpp
  src/charge_point.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

bump libocpp to 27efcee
  dependencies.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Split up in multiple jobs
  .ci/build-kit/compile.sh
  .github/workflows/build_and_test.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen

fix build dir
  .ci/build-kit/compile.sh
  .ci/build-kit/prepare_integration_tests.sh
  .ci/build-kit/run_unit_tests.sh
Owners: @pietfried, @hikinggrass, @corneliusclaussen

move install step
  .ci/build-kit/compile.sh
  .ci/build-kit/prepare_integration_tests.sh
Owners: @pietfried, @hikinggrass, @corneliusclaussen

RsIskraMeter: Add hardware test
  modules/RsIskraMeter/BUILD.bazel
  modules/RsIskraMeter/tests/BUILD.bazel
  modules/RsIskraMeter/tests/__init__.py
  modules/RsIskraMeter/tests/conftest.py
  modules/RsIskraMeter/tests/tests.py
  modules/RsIskraMeter/tests/tests.yaml
Owners: @SirVer, @golovasteek, @dorezyuk, @pietfried, @hikinggrass, @corneliusclaussen

* add `set -e` to bash scripts * download build directory in ci job `run-integration-tests`
  .ci/build-kit/compile.sh
  .ci/build-kit/prepare_integration_tests.sh
  .ci/build-kit/run_unit_tests.sh
  .ci/e2e/scripts/run_integration_tests.sh
  .github/workflows/build_and_test.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Rust: Add logging support (#182)
  everestrs/everestrs/Cargo.toml
  everestrs/everestrs/src/everestrs_sys.cpp
  everestrs/everestrs/src/everestrs_sys.hpp
  everestrs/everestrs/src/lib.rs
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SirVer, @golovasteek, @dorezyuk

Bazel: Allow importing Rust modules into user workspace (#630)
  WORKSPACE.bazel
  modules/RsIskraMeter/BUILD.bazel
  modules/RsPaymentTerminal/BUILD.bazel
  modules/rust_examples/RsExample/BUILD.bazel
  modules/rust_examples/RsExampleUser/BUILD.bazel
  third-party/bazel/defs.bzl
  third-party/bazel/repos.bzl
Owners: @SirVer, @golovasteek, @dorezyuk

added meter value to SessionFinished type
  modules/EvseManager/evse/evse_managerImpl.cpp
  modules/OCPP201/OCPP201.cpp
  modules/OCPP201/transaction_handler.hpp
  types/evse_manager.yaml
Owners: @corneliusclaussen, @SebaLukas, @hikinggrass, @pietfried

Rust: add slots support (#176)
  everestrs/everestrs-build/jinja/client.jinja2
  everestrs/everestrs-build/jinja/module.jinja2
  everestrs/everestrs-build/src/codegen.rs
  everestrs/everestrs/src/everestrs_sys.cpp
  everestrs/everestrs/src/everestrs_sys.hpp
  everestrs/everestrs/src/lib.rs
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SirVer, @golovasteek, @dorezyuk

Rust: Use logging from the framework (#629)
  modules/Cargo.lock
  modules/Cargo.toml
  modules/RsIskraMeter/src/logger.rs
  modules/RsIskraMeter/src/main.rs
  modules/RsPaymentTerminal/src/logger.rs
  modules/RsPaymentTerminal/src/main.rs
  third-party/bazel/repos.bzl
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SirVer, @golovasteek, @dorezyuk

added meter value to SessionFinished type (#634)
  modules/EvseManager/evse/evse_managerImpl.cpp
  modules/OCPP201/OCPP201.cpp
  modules/OCPP201/transaction_handler.hpp
  types/evse_manager.yaml
Owners: @corneliusclaussen, @SebaLukas, @hikinggrass, @pietfried

Add functionality for database migrations (#556)
  CMakeLists.txt
  config/CMakeLists.txt
  config/CollectMigrationFiles.cmake
  config/v16/CMakeLists.txt
  config/v16/core_migrations/1_up-initial.sql
  config/v16/core_migrations/2_down-offline-transaction.sql
  config/v16/core_migrations/2_up-offline-transaction.sql
  config/v201/CMakeLists.txt
  config/v201/core_migrations/1_up-initial.sql
  doc/database_migrations.md
  include/ocpp/common/database/database_connection.hpp
  include/ocpp/common/database/database_handler_common.hpp
  include/ocpp/common/database/database_schema_updater.hpp
  include/ocpp/v16/database_handler.hpp
  include/ocpp/v201/database_handler.hpp
  lib/CMakeLists.txt
  lib/ocpp/common/database/database_connection.cpp
  lib/ocpp/common/database/database_handler_common.cpp
  lib/ocpp/common/database/database_schema_updater.cpp
  lib/ocpp/v16/database_handler.cpp
  lib/ocpp/v201/database_handler.cpp
  tests/CMakeLists.txt
  tests/database_tests.cpp
  tests/lib/ocpp/common/CMakeLists.txt
  tests/lib/ocpp/common/database_testing_utils.hpp
  tests/lib/ocpp/common/test_database_migration_files.cpp
  tests/lib/ocpp/common/test_database_migration_files.hpp
  tests/lib/ocpp/common/test_database_schema_updater.cpp
  tests/lib/ocpp/common/test_message_queue.cpp
  tests/lib/ocpp/v16/CMakeLists.txt
  tests/lib/ocpp/v16/test_database_migration_files.cpp
  tests/lib/ocpp/v201/CMakeLists.txt
  tests/lib/ocpp/v201/test_database_migration_files.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

OCPP1.6: Add IdTagInfo to transaction_updated callback (#632)
  dependencies.yaml
  modules/OCPP/OCPP.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Removed websocketpp dependency.
  modules/OCPP201/OCPP201.cpp
Owners: @hikinggrass, @pietfried

Bazel support for ev-cli and everest-testing (#123)
  .bazelignore
  .bazelversion
  .github/workflows/bazel-build.yml
  .gitignore
  BUILD.bazel
  WORKSPACE.bazel
  ev-dev-tools/BUILD.bazel
  ev-dev-tools/src/ev_cli/ev.py
  everest-testing/BUILD.bazel
  everest-testing/src/everest/testing/core_utils/everest_core.py
  requirements-bazel.txt
  requirements.bzl
  third-party/bazel/BUILD.bazel
  third-party/bazel/defs.bzl
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SirVer, @golovasteek, @dorezyuk

executing disconnected callback when websocket connection is closed (#573)
  lib/ocpp/common/websocket/websocket_libwebsockets.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Updated libocpp dependency
  dependencies.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Update libocpp dependency
  dependencies.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Using host mac adress on the ev side
  lib/staging/slac/fsm/ev/include/slac/fsm/ev/context.hpp
  lib/staging/slac/fsm/ev/src/context.cpp
  lib/staging/slac/fsm/ev/src/states/others.cpp
  lib/staging/slac/fsm/ev/src/states/sounding.cpp
  lib/staging/slac/fsm/evse/include/slac/fsm/evse/context.hpp
  lib/staging/slac/io/include/slac/io.hpp
  lib/staging/slac/io/src/io.cpp
  modules/EvSlac/main/ev_slacImpl.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen

Using host mac adress on the ev side (#635)
  lib/staging/slac/fsm/ev/include/slac/fsm/ev/context.hpp
  lib/staging/slac/fsm/ev/src/context.cpp
  lib/staging/slac/fsm/ev/src/states/others.cpp
  lib/staging/slac/fsm/ev/src/states/sounding.cpp
  lib/staging/slac/fsm/evse/include/slac/fsm/evse/context.hpp
  lib/staging/slac/io/include/slac/io.hpp
  lib/staging/slac/io/src/io.cpp
  modules/EvSlac/main/ev_slacImpl.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen
