Repository EVerest/everest-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre, @a-w50, @james-ctc, @SirVer, @dorezyuk, @rckstrh

Bugfix: sanitize session logging path (#1345)
  lib/everest/helpers/include/everest/helpers/helpers.hpp
  lib/everest/helpers/src/helpers.cpp
  modules/EVSE/EvseManager/SessionLog.cpp
  modules/EVSE/EvseManager/SessionLog.hpp
  modules/EVSE/EvseManager/evse/evse_managerImpl.cpp
  modules/EVSE/EvseManager/tests/ChargerTest.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Bump everest-utils to 0.6.2 for removed staging namespace (#1348)
  cmake/ev-project-bootstrap.cmake
Owners: @hikinggrass, @a-w50, @corneliusclaussen, @andistorm

Add Acrel_DJSF1352_RN PowerMeter driver (#1330)
  modules/HardwareDrivers/PowerMeters/Acrel_DJSF1352_RN/Acrel_DJSF1352_RN.cpp
  modules/HardwareDrivers/PowerMeters/Acrel_DJSF1352_RN/Acrel_DJSF1352_RN.hpp
  modules/HardwareDrivers/PowerMeters/Acrel_DJSF1352_RN/CMakeLists.txt
  modules/HardwareDrivers/PowerMeters/Acrel_DJSF1352_RN/main/powermeterImpl.cpp
  modules/HardwareDrivers/PowerMeters/Acrel_DJSF1352_RN/main/powermeterImpl.hpp
  modules/HardwareDrivers/PowerMeters/Acrel_DJSF1352_RN/manifest.yaml
  modules/HardwareDrivers/PowerMeters/CMakeLists.txt
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Bump libevse-security dependency to 0.9.8 (#1346)
  dependencies.yaml
Owners: @hikinggrass, @pietfried, @corneliusclaussen, @SebaLukas, @james-ctc, @mlitre

Add driver for UUGreenPower UR1000X0 DC PowerSupply (#1331)
  modules/HardwareDrivers/PowerSupplies/CMakeLists.txt
  modules/HardwareDrivers/PowerSupplies/UUGreenPower_UR1000X0/CMakeLists.txt
  modules/HardwareDrivers/PowerSupplies/UUGreenPower_UR1000X0/UUGreenPower_UR1000X0.cpp
  modules/HardwareDrivers/PowerSupplies/UUGreenPower_UR1000X0/UUGreenPower_UR1000X0.hpp
  modules/HardwareDrivers/PowerSupplies/UUGreenPower_UR1000X0/can_driver_acdc/CanDevice.cpp
  modules/HardwareDrivers/PowerSupplies/UUGreenPower_UR1000X0/can_driver_acdc/CanDevice.hpp
  modules/HardwareDrivers/PowerSupplies/UUGreenPower_UR1000X0/can_driver_acdc/CanPackets.cpp
  modules/HardwareDrivers/PowerSupplies/UUGreenPower_UR1000X0/can_driver_acdc/CanPackets.hpp
  modules/HardwareDrivers/PowerSupplies/UUGreenPower_UR1000X0/can_driver_acdc/Conversions.hpp
  modules/HardwareDrivers/PowerSupplies/UUGreenPower_UR1000X0/can_driver_acdc/UUGreenCanDevice.cpp
  modules/HardwareDrivers/PowerSupplies/UUGreenPower_UR1000X0/can_driver_acdc/UUGreenCanDevice.hpp
  modules/HardwareDrivers/PowerSupplies/UUGreenPower_UR1000X0/main/power_supply_DCImpl.cpp
  modules/HardwareDrivers/PowerSupplies/UUGreenPower_UR1000X0/main/power_supply_DCImpl.hpp
  modules/HardwareDrivers/PowerSupplies/UUGreenPower_UR1000X0/manifest.yaml
  modules/HardwareDrivers/PowerSupplies/UUGreenPower_UR1000X0/test-tool/CMakeLists.txt
  modules/HardwareDrivers/PowerSupplies/UUGreenPower_UR1000X0/test-tool/main.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

* Added DC external derate interface including separate derate type (#1299)
  interfaces/dc_external_derate.yaml
  modules/EVSE/EvseManager/BUILD.bazel
  modules/EVSE/EvseManager/CMakeLists.txt
  modules/EVSE/EvseManager/EvseManager.cpp
  modules/EVSE/EvseManager/EvseManager.hpp
  modules/EVSE/EvseManager/dc_external_derate/dc_external_derateImpl.cpp
  modules/EVSE/EvseManager/dc_external_derate/dc_external_derateImpl.hpp
  modules/EVSE/EvseManager/manifest.yaml
  types/dc_external_derate.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre, @SirVer, @dorezyuk

Adding iso15118_vas requirement to EvseV2G + Internet service config option to PyEvJosev (#1342)
  dependencies.yaml
  modules/EV/PyEvJosev/manifest.yaml
  modules/EV/PyEvJosev/module.py
  modules/EVSE/EvseV2G/EvseV2G.cpp
  modules/EVSE/EvseV2G/EvseV2G.hpp
  modules/EVSE/EvseV2G/charger/ISO15118_chargerImpl.cpp
  modules/EVSE/EvseV2G/iso_server.cpp
  modules/EVSE/EvseV2G/manifest.yaml
  modules/EVSE/EvseV2G/tests/iso15118_vasIntfStub.hpp
  modules/EVSE/EvseV2G/tests/v2g_ctx_test.cpp
  modules/EVSE/EvseV2G/tests/v2g_main.cpp
  modules/EVSE/EvseV2G/v2g.hpp
  modules/EVSE/EvseV2G/v2g_ctx.cpp
  modules/EVSE/EvseV2G/v2g_ctx.hpp
Owners: @hikinggrass, @pietfried, @corneliusclaussen, @SebaLukas, @james-ctc, @mlitre

FIX: Changing DC capabilities for 'current' not applied (#1353)
  modules/EVSE/EvseManager/energy_grid/energyImpl.cpp
  modules/EVSE/EvseManager/energy_grid/energyImpl.hpp
Owners: @corneliusclaussen, @SebaLukas, @hikinggrass, @pietfried, @mlitre

Fix inconsistent everest_API namespace (#1359)
  lib/everest/everest_api_types/include/everest_api_types/utilities/AsyncApiRequestReply.hpp
  lib/everest/everest_api_types/include/everest_api_types/utilities/Topics.hpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Add Huawei_R100040Gx PowerSupply driver (#1334)
  modules/HardwareDrivers/PowerSupplies/CMakeLists.txt
  modules/HardwareDrivers/PowerSupplies/Huawei_R100040Gx/CMakeLists.txt
  modules/HardwareDrivers/PowerSupplies/Huawei_R100040Gx/Huawei_R100040Gx.cpp
  modules/HardwareDrivers/PowerSupplies/Huawei_R100040Gx/Huawei_R100040Gx.hpp
  modules/HardwareDrivers/PowerSupplies/Huawei_R100040Gx/can_driver_acdc/CanDevice.cpp
  modules/HardwareDrivers/PowerSupplies/Huawei_R100040Gx/can_driver_acdc/CanDevice.hpp
  modules/HardwareDrivers/PowerSupplies/Huawei_R100040Gx/can_driver_acdc/CanPackets.cpp
  modules/HardwareDrivers/PowerSupplies/Huawei_R100040Gx/can_driver_acdc/CanPackets.hpp
  modules/HardwareDrivers/PowerSupplies/Huawei_R100040Gx/can_driver_acdc/Conversions.hpp
  modules/HardwareDrivers/PowerSupplies/Huawei_R100040Gx/can_driver_acdc/HwCanDevice.cpp
  modules/HardwareDrivers/PowerSupplies/Huawei_R100040Gx/can_driver_acdc/HwCanDevice.hpp
  modules/HardwareDrivers/PowerSupplies/Huawei_R100040Gx/main/power_supply_DCImpl.cpp
  modules/HardwareDrivers/PowerSupplies/Huawei_R100040Gx/main/power_supply_DCImpl.hpp
  modules/HardwareDrivers/PowerSupplies/Huawei_R100040Gx/manifest.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Fix lib/everest/gpio header install (#1351)
  lib/everest/gpio/CMakeLists.txt
Owners: @corneliusclaussen, @hikinggrass

Assign to the proper variable
  modules/EV/PyEvJosev/module.py
Owners: @SebaLukas, @corneliusclaussen, @pietfried, @james-ctc, @mlitre

Fix unchecked optional access in tests (#1350)
  modules/HardwareDrivers/PowerMeters/LemDCBM400600/tests/test_lem_dcbm_400600_controller.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Feature: NXP NFC frontend token provider (#1338)
  modules/HardwareDrivers/NfcReaders/CMakeLists.txt
  modules/HardwareDrivers/NfcReaders/NxpNfcFrontendTokenProvider/CMakeLists.txt
  modules/HardwareDrivers/NfcReaders/NxpNfcFrontendTokenProvider/NxpNfcFrontendTokenProvider.cpp
  modules/HardwareDrivers/NfcReaders/NxpNfcFrontendTokenProvider/NxpNfcFrontendTokenProvider.hpp
  modules/HardwareDrivers/NfcReaders/NxpNfcFrontendTokenProvider/doc.rst
  modules/HardwareDrivers/NfcReaders/NxpNfcFrontendTokenProvider/main/auth_token_providerImpl.cpp
  modules/HardwareDrivers/NfcReaders/NxpNfcFrontendTokenProvider/main/auth_token_providerImpl.hpp
  modules/HardwareDrivers/NfcReaders/NxpNfcFrontendTokenProvider/manifest.yaml
  modules/HardwareDrivers/NfcReaders/NxpNfcFrontendTokenProvider/namedPipeDataSource/CMakeLists.txt
  modules/HardwareDrivers/NfcReaders/NxpNfcFrontendTokenProvider/namedPipeDataSource/namedPipeDataSource.cpp
  modules/HardwareDrivers/NfcReaders/NxpNfcFrontendTokenProvider/namedPipeDataSource/namedPipeDataSource.hpp
  modules/HardwareDrivers/NfcReaders/NxpNfcFrontendTokenProvider/nxpnfcrdlib_wrapper/CMakeLists.txt
  modules/HardwareDrivers/NfcReaders/NxpNfcFrontendTokenProvider/nxpnfcrdlib_wrapper/README.md
  modules/HardwareDrivers/NfcReaders/NxpNfcFrontendTokenProvider/nxpnfcrdlib_wrapper/doc/NxpNfc_CLEV6630B.svg
  modules/HardwareDrivers/NfcReaders/NxpNfcFrontendTokenProvider/nxpnfcrdlib_wrapper/inc/nxpnfcfrontend.hpp
  modules/HardwareDrivers/NfcReaders/NxpNfcFrontendTokenProvider/nxpnfcrdlib_wrapper/lib/CMakeLists.txt
  modules/HardwareDrivers/NfcReaders/NxpNfcFrontendTokenProvider/nxpnfcrdlib_wrapper/lib/customization/CMakeLists.txt
  modules/HardwareDrivers/NfcReaders/NxpNfcFrontendTokenProvider/nxpnfcrdlib_wrapper/lib/customization/NxpNfcRdLib/CMakeLists.txt
  modules/HardwareDrivers/NfcReaders/NxpNfcFrontendTokenProvider/nxpnfcrdlib_wrapper/lib/customization/NxpNfcRdLib/types/ph_NxpBuild_App.h
  modules/HardwareDrivers/NfcReaders/NxpNfcFrontendTokenProvider/nxpnfcrdlib_wrapper/lib/customization/Platform/DAL/CMakeLists.txt
  modules/HardwareDrivers/NfcReaders/NxpNfcFrontendTokenProvider/nxpnfcrdlib_wrapper/lib/customization/Platform/DAL/boards/Board_Pi4Rc663.h
  modules/HardwareDrivers/NfcReaders/NxpNfcFrontendTokenProvider/nxpnfcrdlib_wrapper/lib/customization/Platform/DAL/cfg/BoardSelection.h
  modules/HardwareDrivers/NfcReaders/NxpNfcFrontendTokenProvider/nxpnfcrdlib_wrapper/lib/customization/Platform/DAL/src/PLACE_ADDITIONAL_SRC_HERE
  modules/HardwareDrivers/NfcReaders/NxpNfcFrontendTokenProvider/nxpnfcrdlib_wrapper/lib/customization/Platform/DAL/src/rpi4_gpio.c
  modules/HardwareDrivers/NfcReaders/NxpNfcFrontendTokenProvider/nxpnfcrdlib_wrapper/lib/customization/RTOS/phOsal/CMakeLists.txt
  modules/HardwareDrivers/NfcReaders/NxpNfcFrontendTokenProvider/nxpnfcrdlib_wrapper/src/NxpNfcRdLibIfc.cpp
  modules/HardwareDrivers/NfcReaders/NxpNfcFrontendTokenProvider/nxpnfcrdlib_wrapper/src/NxpNfcRdLibIfc.hpp
  modules/HardwareDrivers/NfcReaders/NxpNfcFrontendTokenProvider/nxpnfcrdlib_wrapper/src/NxpNfcRdLibIncludes.hpp
  modules/HardwareDrivers/NfcReaders/NxpNfcFrontendTokenProvider/nxpnfcrdlib_wrapper/src/errorDecoding.cpp
  modules/HardwareDrivers/NfcReaders/NxpNfcFrontendTokenProvider/nxpnfcrdlib_wrapper/src/nxpnfcfrontend.cpp
  modules/HardwareDrivers/NfcReaders/NxpNfcFrontendTokenProvider/nxpnfcrdlib_wrapper/testApplication/CMakeLists.txt
  modules/HardwareDrivers/NfcReaders/NxpNfcFrontendTokenProvider/nxpnfcrdlib_wrapper/testApplication/src/nfc_test_application.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Add LocalAllowlistTokenValidator (#1356)
  modules/Misc/CMakeLists.txt
  modules/Misc/LocalAllowlistTokenValidator/CMakeLists.txt
  modules/Misc/LocalAllowlistTokenValidator/LocalAllowlistTokenValidator.cpp
  modules/Misc/LocalAllowlistTokenValidator/LocalAllowlistTokenValidator.hpp
  modules/Misc/LocalAllowlistTokenValidator/manifest.yaml
  modules/Misc/LocalAllowlistTokenValidator/token_validator/auth_token_validatorImpl.cpp
  modules/Misc/LocalAllowlistTokenValidator/token_validator/auth_token_validatorImpl.hpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

restructure (#1329)
  modules/HardwareDrivers/PowerMeters/AST_DC650/AST_DC650.cpp
  modules/HardwareDrivers/PowerMeters/AST_DC650/AST_DC650.hpp
  modules/HardwareDrivers/PowerMeters/AST_DC650/CMakeLists.txt
  modules/HardwareDrivers/PowerMeters/AST_DC650/Timeout.hpp
  modules/HardwareDrivers/PowerMeters/AST_DC650/ast_app_layer.cpp
  modules/HardwareDrivers/PowerMeters/AST_DC650/ast_app_layer.hpp
  modules/HardwareDrivers/PowerMeters/AST_DC650/diagnostics.cpp
  modules/HardwareDrivers/PowerMeters/AST_DC650/diagnostics.hpp
  modules/HardwareDrivers/PowerMeters/AST_DC650/main/powermeterImpl.cpp
  modules/HardwareDrivers/PowerMeters/AST_DC650/main/powermeterImpl.hpp
  modules/HardwareDrivers/PowerMeters/AST_DC650/manifest.yaml
  modules/HardwareDrivers/PowerMeters/AST_DC650/serial_device.cpp
  modules/HardwareDrivers/PowerMeters/AST_DC650/serial_device.hpp
  modules/HardwareDrivers/PowerMeters/AST_DC650/slip_protocol.cpp
  modules/HardwareDrivers/PowerMeters/AST_DC650/slip_protocol.hpp
  modules/HardwareDrivers/PowerMeters/CMakeLists.txt
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Add driver for InfyPower_BEG1K075G DC PowerSupply (#1335)
  modules/HardwareDrivers/PowerSupplies/CMakeLists.txt
  modules/HardwareDrivers/PowerSupplies/InfyPower_BEG1K075G/CMakeLists.txt
  modules/HardwareDrivers/PowerSupplies/InfyPower_BEG1K075G/InfyPower_BEG1K075G.cpp
  modules/HardwareDrivers/PowerSupplies/InfyPower_BEG1K075G/InfyPower_BEG1K075G.hpp
  modules/HardwareDrivers/PowerSupplies/InfyPower_BEG1K075G/can_driver_acdc/CanDevice.cpp
  modules/HardwareDrivers/PowerSupplies/InfyPower_BEG1K075G/can_driver_acdc/CanDevice.hpp
  modules/HardwareDrivers/PowerSupplies/InfyPower_BEG1K075G/can_driver_acdc/CanPackets.cpp
  modules/HardwareDrivers/PowerSupplies/InfyPower_BEG1K075G/can_driver_acdc/CanPackets.hpp
  modules/HardwareDrivers/PowerSupplies/InfyPower_BEG1K075G/can_driver_acdc/Conversions.hpp
  modules/HardwareDrivers/PowerSupplies/InfyPower_BEG1K075G/can_driver_acdc/InfyCanDevice.cpp
  modules/HardwareDrivers/PowerSupplies/InfyPower_BEG1K075G/can_driver_acdc/InfyCanDevice.hpp
  modules/HardwareDrivers/PowerSupplies/InfyPower_BEG1K075G/main/power_supply_DCImpl.cpp
  modules/HardwareDrivers/PowerSupplies/InfyPower_BEG1K075G/main/power_supply_DCImpl.hpp
  modules/HardwareDrivers/PowerSupplies/InfyPower_BEG1K075G/manifest.yaml
  modules/HardwareDrivers/PowerSupplies/InfyPower_BEG1K075G/test-tool/CMakeLists.txt
  modules/HardwareDrivers/PowerSupplies/InfyPower_BEG1K075G/test-tool/main.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Rename Powermeter DZG_GHS01 (#1333)
  modules/HardwareDrivers/PowerMeters/CMakeLists.txt
  modules/HardwareDrivers/PowerMeters/DZG_GSH01/CMakeLists.txt
  modules/HardwareDrivers/PowerMeters/DZG_GSH01/DZG_GSH01.cpp
  modules/HardwareDrivers/PowerMeters/DZG_GSH01/DZG_GSH01.hpp
  modules/HardwareDrivers/PowerMeters/DZG_GSH01/Timeout.hpp
  modules/HardwareDrivers/PowerMeters/DZG_GSH01/app_layer.cpp
  modules/HardwareDrivers/PowerMeters/DZG_GSH01/app_layer.hpp
  modules/HardwareDrivers/PowerMeters/DZG_GSH01/diagnostics.cpp
  modules/HardwareDrivers/PowerMeters/DZG_GSH01/diagnostics.hpp
  modules/HardwareDrivers/PowerMeters/DZG_GSH01/doc.rst
  modules/HardwareDrivers/PowerMeters/DZG_GSH01/main/powermeterImpl.cpp
  modules/HardwareDrivers/PowerMeters/DZG_GSH01/main/powermeterImpl.hpp
  modules/HardwareDrivers/PowerMeters/DZG_GSH01/manifest.yaml
  modules/HardwareDrivers/PowerMeters/DZG_GSH01/serial_device.cpp
  modules/HardwareDrivers/PowerMeters/DZG_GSH01/serial_device.hpp
  modules/HardwareDrivers/PowerMeters/DZG_GSH01/slip_protocol.cpp
  modules/HardwareDrivers/PowerMeters/DZG_GSH01/slip_protocol.hpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Feature/infypower dc powersupply driver (#1366)
  modules/HardwareDrivers/PowerSupplies/CMakeLists.txt
  modules/HardwareDrivers/PowerSupplies/InfyPower/CMakeLists.txt
  modules/HardwareDrivers/PowerSupplies/InfyPower/InfyPower.cpp
  modules/HardwareDrivers/PowerSupplies/InfyPower/InfyPower.hpp
  modules/HardwareDrivers/PowerSupplies/InfyPower/README.md
  modules/HardwareDrivers/PowerSupplies/InfyPower/can_driver_acdc/CanBus.cpp
  modules/HardwareDrivers/PowerSupplies/InfyPower/can_driver_acdc/CanBus.hpp
  modules/HardwareDrivers/PowerSupplies/InfyPower/can_driver_acdc/CanPackets.cpp
  modules/HardwareDrivers/PowerSupplies/InfyPower/can_driver_acdc/CanPackets.hpp
  modules/HardwareDrivers/PowerSupplies/InfyPower/can_driver_acdc/Conversions.hpp
  modules/HardwareDrivers/PowerSupplies/InfyPower/can_driver_acdc/InfyCanDevice.cpp
  modules/HardwareDrivers/PowerSupplies/InfyPower/can_driver_acdc/InfyCanDevice.hpp
  modules/HardwareDrivers/PowerSupplies/InfyPower/main/power_supply_DCImpl.cpp
  modules/HardwareDrivers/PowerSupplies/InfyPower/main/power_supply_DCImpl.hpp
  modules/HardwareDrivers/PowerSupplies/InfyPower/manifest.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Adding ISO15118-20 AC support: (#1213)
  config/CMakeLists.txt
  config/config-sil-ac-d20.yaml
  dependencies.yaml
  interfaces/ISO15118_charger.yaml
  interfaces/ISO15118_ev.yaml
  modules/API/API/API.cpp
  modules/EV/EvManager/main/car_simulatorImpl.cpp
  modules/EV/PyEvJosev/manifest.yaml
  modules/EV/PyEvJosev/utilities.py
  modules/EVSE/Evse15118D20/charger/ISO15118_chargerImpl.cpp
  modules/EVSE/Evse15118D20/charger/ISO15118_chargerImpl.hpp
  modules/EVSE/EvseManager/Charger.cpp
  modules/EVSE/EvseManager/EvseManager.cpp
  modules/EVSE/EvseManager/EvseManager.hpp
  modules/EVSE/EvseManager/energy_grid/energyImpl.cpp
  modules/EVSE/EvseManager/evse/evse_managerImpl.cpp
  modules/EVSE/EvseManager/manifest.yaml
  modules/EVSE/EvseManager/scoped_lock_timeout.hpp
  modules/EVSE/EvseV2G/charger/ISO15118_chargerImpl.cpp
  modules/EVSE/EvseV2G/charger/ISO15118_chargerImpl.hpp
  modules/EVSE/EvseV2G/tests/ISO15118_chargerImplStub.hpp
  modules/EVSE/IsoMux/charger/ISO15118_chargerImpl.cpp
  modules/EVSE/IsoMux/charger/ISO15118_chargerImpl.hpp
  modules/Simulation/YetiSimulator/YetiSimulator.cpp
  modules/Simulation/YetiSimulator/ev_board_support/ev_board_supportImpl.cpp
  modules/Simulation/YetiSimulator/util/state.cpp
  modules/Simulation/YetiSimulator/util/state.hpp
  modules/Testing/DummyV2G/main/ISO15118_chargerImpl.cpp
  modules/Testing/DummyV2G/main/ISO15118_chargerImpl.hpp
  types/evse_manager.yaml
  types/iso15118.yaml
Owners: @hikinggrass, @pietfried, @corneliusclaussen, @SebaLukas, @mlitre, @james-ctc, @andistorm, @a-w50

fix: Prevent spamming handle_update_ac_present_power warning if EvseV2G is selected (#1370)
  modules/EVSE/EvseManager/EvseManager.cpp
Owners: @corneliusclaussen, @SebaLukas, @hikinggrass, @pietfried, @mlitre

refactor(EvseManager): Introduce Shutdown type and make use of Severity in Error Handling (#1354)
  modules/EVSE/EvseManager/Charger.cpp
  modules/EVSE/EvseManager/Charger.hpp
  modules/EVSE/EvseManager/ErrorHandling.cpp
  modules/EVSE/EvseManager/ErrorHandling.hpp
  modules/EVSE/EvseManager/EvseManager.cpp
  modules/EVSE/EvseManager/EvseManager.hpp
  modules/EVSE/EvseManager/doc.rst
  modules/EVSE/EvseManager/scoped_lock_timeout.hpp
Owners: @corneliusclaussen, @SebaLukas, @hikinggrass, @pietfried, @mlitre

feat(iso15118): Support for -2 Internet service VAS (#1355)
  modules/EVSE/CMakeLists.txt
  modules/EVSE/Iso15118InternetVas/CMakeLists.txt
  modules/EVSE/Iso15118InternetVas/Iso15118InternetVas.cpp
  modules/EVSE/Iso15118InternetVas/Iso15118InternetVas.hpp
  modules/EVSE/Iso15118InternetVas/docs/index.rst
  modules/EVSE/Iso15118InternetVas/iso15118_vas/ISO15118_vasImpl.cpp
  modules/EVSE/Iso15118InternetVas/iso15118_vas/ISO15118_vasImpl.hpp
  modules/EVSE/Iso15118InternetVas/manifest.yaml
  modules/EVSE/Iso15118InternetVas/vas-internet-setup.sh
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Handle contactor state in CP events and defer transaction stop until contactor open (#1371)
  modules/EVSE/EvseManager/Charger.cpp
  modules/EVSE/EvseManager/Charger.hpp
Owners: @corneliusclaussen, @SebaLukas, @hikinggrass, @pietfried, @mlitre

fix(ocpp2x): Properly queue session events on startup (#1367)
  modules/EVSE/OCPP201/OCPP201.cpp
  modules/EVSE/OCPP201/OCPP201.hpp
Owners: @hikinggrass, @pietfried, @mlitre

Fix(OCPP): Harden OCPP modules: (#1374)
  modules/EVSE/OCPP/OCPP.cpp
  modules/EVSE/OCPP/OCPP.hpp
  modules/EVSE/OCPP/auth_validator/auth_token_validatorImpl.cpp
  modules/EVSE/OCPP/data_transfer/ocpp_data_transferImpl.cpp
  modules/EVSE/OCPP/main/ocpp_1_6_charge_pointImpl.cpp
  modules/EVSE/OCPP/ocpp_generic/ocppImpl.cpp
  modules/EVSE/OCPP201/OCPP201.cpp
  modules/EVSE/OCPP201/OCPP201.hpp
  modules/EVSE/OCPP201/auth_validator/auth_token_validatorImpl.cpp
  modules/EVSE/OCPP201/data_transfer/ocpp_data_transferImpl.cpp
  modules/EVSE/OCPP201/ocpp_generic/ocppImpl.cpp
Owners: @hikinggrass, @pietfried, @mlitre

Refactor OVM interface and include MCS limits (#1256)
  config/bringup/config-bringup-ovm-sil.yaml
  config/config-sil-dc.yaml
  errors/over_voltage_monitor.yaml
  interfaces/over_voltage_monitor.yaml
  modules/BringUp/BUOverVoltageMonitor/BUOverVoltageMonitor.cpp
  modules/BringUp/BUOverVoltageMonitor/BUOverVoltageMonitor.hpp
  modules/EVSE/EvseManager/Charger.cpp
  modules/EVSE/EvseManager/EvseManager.cpp
  modules/EVSE/EvseManager/EvseManager.hpp
  modules/Simulation/OVMSimulator/main/over_voltage_monitorImpl.cpp
  modules/Simulation/OVMSimulator/main/over_voltage_monitorImpl.hpp
  modules/Simulation/OVMSimulator/manifest.yaml
Owners: @hikinggrass, @pietfried, @corneliusclaussen, @SebaLukas, @mlitre, @andistorm

More bazel for OCPP201 (#1378)
  modules/EVSE/OCPP201/BUILD.bazel
  modules/module.bzl
  third-party/bazel/BUILD.libevse-security.bazel
  third-party/bazel/BUILD.libocpp.bazel
  third-party/bazel/BUILD.libwebsockets.bazel
Owners: @SirVer, @dorezyuk, @pietfried, @hikinggrass

Add libcap from bazel repo (#1386)
  MODULE.bazel
  modules/EVSE/OCPP201/BUILD.bazel
  third-party/bazel/BUILD.libwebsockets.bazel
Owners: @SirVer, @dorezyuk, @pietfried, @hikinggrass

EvseManager: fix limits variable does not take PP values into account (#1377)
  modules/EVSE/EvseManager/Charger.cpp
Owners: @corneliusclaussen, @SebaLukas, @hikinggrass, @pietfried, @mlitre

fix: updated cmake for everest_io and use of mqttc (#1388)
  dependencies.yaml
  lib/everest/io/CMakeLists.txt
  lib/everest/io/src/CMakeLists.txt
Owners: @hikinggrass, @pietfried, @corneliusclaussen, @SebaLukas, @james-ctc, @mlitre, @andistorm

Fix build issue in fusion_charger_lib/goose-lib unit tests with newer compiler (#1396)
  modules/HardwareDrivers/PowerSupplies/Huawei_V100R023C10/fusion_charger_lib/goose-lib/libs/goose/tests/sender.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Add system module using D-Bus and RAUC (#1361)
  .ci/build-kit/docker/Dockerfile
  CMakeLists.txt
  README.md
  dependencies.yaml
  lib/everest/CMakeLists.txt
  lib/everest/system/CMakeLists.txt
  lib/everest/system/include/everest/system/dbus_base.hpp
  lib/everest/system/include/everest/system/rauc_dbus_base.hpp
  lib/everest/system/include/everest/system/safe_system.hpp
  lib/everest/system/src/dbus_base.cpp
  lib/everest/system/src/rauc_dbus_base.cpp
  lib/everest/system/src/safe_system.cpp
  lib/everest/system/tests/CMakeLists.txt
  lib/everest/system/tests/system_test.cpp
  module-dependencies.cmake
  modules/Misc/CMakeLists.txt
  modules/Misc/Linux_Systemd_Rauc/CMakeLists.txt
  modules/Misc/Linux_Systemd_Rauc/Linux_Systemd_Rauc.cpp
  modules/Misc/Linux_Systemd_Rauc/Linux_Systemd_Rauc.hpp
  modules/Misc/Linux_Systemd_Rauc/constants.env
  modules/Misc/Linux_Systemd_Rauc/diagnostics_collector.sh
  modules/Misc/Linux_Systemd_Rauc/diagnostics_handler.cpp
  modules/Misc/Linux_Systemd_Rauc/diagnostics_handler.hpp
  modules/Misc/Linux_Systemd_Rauc/diagnostics_uploader.sh
  modules/Misc/Linux_Systemd_Rauc/doc.rst
  modules/Misc/Linux_Systemd_Rauc/docs/index.rst
  modules/Misc/Linux_Systemd_Rauc/main/systemImpl.cpp
  modules/Misc/Linux_Systemd_Rauc/main/systemImpl.hpp
  modules/Misc/Linux_Systemd_Rauc/manifest.yaml
  modules/Misc/Linux_Systemd_Rauc/rauc_dbus.cpp
  modules/Misc/Linux_Systemd_Rauc/rauc_dbus.hpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @andistorm, @SebaLukas, @mlitre, @james-ctc

OpenSSL TPM2 configuration improvements (#1382)
  dependencies.yaml
  lib/everest/tls/src/openssl_util.cpp
  lib/everest/tls/src/tls.cpp
  third-party/bazel/extension.bzl
Owners: @hikinggrass, @pietfried, @corneliusclaussen, @SebaLukas, @james-ctc, @mlitre, @SirVer, @dorezyuk

feat(BringUp): Add BringUp module for dc_external_derate interface (#1387)
  modules/BringUp/BUDCExternalDerate/BUDCExternalDerate.cpp
  modules/BringUp/BUDCExternalDerate/BUDCExternalDerate.hpp
  modules/BringUp/BUDCExternalDerate/CMakeLists.txt
  modules/BringUp/BUDCExternalDerate/doc.rst
  modules/BringUp/BUDCExternalDerate/main/emptyImpl.cpp
  modules/BringUp/BUDCExternalDerate/main/emptyImpl.hpp
  modules/BringUp/BUDCExternalDerate/manifest.yaml
  modules/BringUp/CMakeLists.txt
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

fix: config-tmux-run-script.cmake needs to be installed (#1391)
  cmake/everest-generate.cmake
Owners: @hikinggrass, @a-w50, @corneliusclaussen, @andistorm

fix: everest-utils header file only library now installed (#1411)
  dependencies.yaml
  lib/3rd_party/nanopb/CMakeLists.txt
  lib/everest/system/CMakeLists.txt
  lib/everest/util/CMakeLists.txt
Owners: @hikinggrass, @pietfried, @corneliusclaussen, @SebaLukas, @james-ctc, @mlitre, @a-w50, @andistorm

Update ftxui dependency to 6.1.9 (#1399)
  CMakeLists.txt
  dependencies.yaml
  modules/BringUp/BUDisplayMessage/BUDisplayMessage.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre, @james-ctc

Update everest-sqlite to 0.1.4 (#1398)
  CMakeLists.txt
  MODULE.bazel
  dependencies.yaml
  modules/Cargo.lock
  modules/Cargo.toml
  modules/HardwareDrivers/Payment/RsPaymentTerminal/src/main.rs
  modules/HardwareDrivers/PowerMeters/RsIskraMeter/src/main.rs
  third-party/bazel/extension.bzl
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre, @SirVer, @dorezyuk, @james-ctc

EvseV2g/IsoMux: change tls_security default to allow (#1406)
  modules/EVSE/EvseV2G/manifest.yaml
  modules/EVSE/IsoMux/manifest.yaml
Owners: @corneliusclaussen, @SebaLukas, @james-ctc, @pietfried, @hikinggrass, @mlitre, @andistorm

.github/CODEOWNERS:

# default option unless later match takes precedence
* @pietfried @hikinggrass @corneliusclaussen @SebaLukas @andistorm @mlitre

# .ci
/.ci/ @pietfried @hikinggrass @corneliusclaussen @andistorm

# .github
/.github/ @pietfried @corneliusclaussen
/.github/workflows/ @pietfried @corneliusclaussen @andistorm

# cmake
/cmake/ @hikinggrass @a-w50 @corneliusclaussen @andistorm

# config
/config/ @hikinggrass @pietfried @corneliusclaussen @SebaLukas @mlitre

# lib
/lib/3rd_party/nanopb/ @a-w50 @corneliusclaussen @hikinggrass
/lib/everest/can_dpm1000/ @a-w50 @corneliusclaussen @hikinggrass
/lib/everest/gpio/ @corneliusclaussen @hikinggrass @hikinggrass
/lib/everest/conversions/ @hikinggrass @pietfried @corneliusclaussen @mlitre
/lib/everest/slac/ @a-w50 @corneliusclaussen @SebaLukas
/lib/everest/tls/ @james-ctc @mlitre @corneliusclaussen @SebaLukas @pietfried

# modules
/modules/API/ @hikinggrass @pietfried @corneliusclaussen
/modules/EnergyManagement/Energymanager/ @corneliusclaussen @hikinggrass @pietfried
/modules/EnergyManagement/EnergyNode/ @corneliusclaussen @hikinggrass @pietfried
/modules/EV/EvManager/ @SebaLukas @pietfried @james-ctc @mlitre
/modules/EV/PyEvJosev/ @SebaLukas @corneliusclaussen @pietfried @james-ctc @mlitre
/modules/EVSE/Auth/ @pietfried @corneliusclaussen @hikinggrass @mlitre
/modules/EVSE/Evse15118D20/ @SebaLukas @a-w50 @corneliusclaussen @pietfried @hikinggrass @james-ctc @mlitre
/modules/EVSE/EvseManager/ @corneliusclaussen @SebaLukas @hikinggrass @pietfried @mlitre
/modules/EVSE/EvseSecurity/ @pietfried @hikinggrass @james-ctc @mlitre @SebaLukas
/modules/EVSE/EvseSlac/ @a-w50 @corneliusclaussen @SebaLukas @pietfried @hikinggrass
/modules/EVSE/EvseV2G/ @corneliusclaussen @SebaLukas @james-ctc @pietfried @hikinggrass @james-ctc @mlitre
/modules/EVSE/OCPP/ @hikinggrass @pietfried @mlitre
/modules/EVSE/OCPP201/ @hikinggrass @pietfried @mlitre
/modules/Examples/CppExamples/error-framework/ @corneliusclaussen @hikinggrass @pietfried @andistorm
/modules/Examples/RustExamples/ @SirVer @dorezyuk
/modules/HardwareDrivers/EVSE/PhyVersoBSP/ @pietfried @hikinggrass @corneliusclaussen @dorezyuk @rckstrh
/modules/HardwareDrivers/EVSE/YetiDriver/ @corneliusclaussen @hikinggrass
/modules/Misc/ErrorHistory/ @corneliusclaussen @hikinggrass @pietfried @andistorm
/modules/Misc/PacketSniffer/ @corneliusclaussen @SebaLukas @hikinggrass
/modules/Misc/Setup/ @hikinggrass @corneliusclaussen @pietfried
/modules/Simulation/ @SebaLukas @pietfried @hikinggrass
/modules/Simulation/SlacSimulator/ @SebaLukas @pietfried @corneliusclaussen @james-ctc @mlitre
/modules/Simulation/YetiSimulator/ @SebaLukas @pietfried @corneliusclaussen @james-ctc @mlitre
**/Cargo.toml @SirVer @dorezyuk @pietfried @hikinggrass
**/Cargo.lock @SirVer @dorezyuk @pietfried @hikinggrass


# Rust & Bazel
*.rs @SirVer @dorezyuk @pietfried @hikinggrass
*.bazel @SirVer @dorezyuk @pietfried @hikinggrass
*.bzl @SirVer @dorezyuk @pietfried @hikinggrass

# third-party/bazel
/third-party/bazel/deps_versions.bzl @pietfried @hikinggrass @corneliusclaussen @SebaLukas @a-w50 @SirVer @dorezyuk

/dependencies.yaml @hikinggrass @pietfried @corneliusclaussen @SebaLukas @james-ctc @mlitre
/module-dependencies.cmake @hikinggrass @pietfried @corneliusclaussen @SebaLukas @james-ctc @mlitre
