Repository EVerest/everest-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre, @a-w50, @MarzellT, @james-ctc, @AssemblyJohn, @dorezyuk, @rckstrh, @SirVer

.github/CODEOWNERS:

# default option unless later match takes precedence
* @pietfried @hikinggrass @corneliusclaussen @SebaLukas @andistorm @mlitre

# .ci
/.ci/ @pietfried @hikinggrass @corneliusclaussen @andistorm

# .github
/.github/ @pietfried @corneliusclaussen
/.github/workflows/ @pietfried @corneliusclaussen @andistorm

# cmake
/cmake/ @hikinggrass @a-w50 @corneliusclaussen @andistorm

# config
/config/ @hikinggrass @pietfried @corneliusclaussen @SebaLukas @MarzellT @mlitre

# lib
/lib/3rd_party/nanopb/ @a-w50 @corneliusclaussen @hikinggrass
/lib/staging/can_dpm1000/ @a-w50 @corneliusclaussen @hikinggrass
/lib/staging/gpio/ @corneliusclaussen @hikinggrass @hikinggrass
/lib/staging/ocpp/ @hikinggrass @pietfried @corneliusclaussen @mlitre
/lib/staging/slac/ @a-w50 @corneliusclaussen @SebaLukas
/lib/staging/tls/ @james-ctc @AssemblyJohn @corneliusclaussen @SebaLukas

# modules
/modules/API/ @hikinggrass @pietfried @corneliusclaussen
/modules/Auth/ @pietfried @corneliusclaussen @hikinggrass @mlitre
/modules/Energymanager/ @corneliusclaussen @hikinggrass @pietfried
/modules/EnergyNode/ @corneliusclaussen @hikinggrass @pietfried
/modules/ErrorHistory/ @corneliusclaussen @hikinggrass @pietfried @andistorm
/modules/EvseManager/ @corneliusclaussen @SebaLukas @hikinggrass @pietfried @mlitre
/modules/EvManager/ @SebaLukas @pietfried @MarzellT
/modules/Evse15118D20/ @SebaLukas @a-w50 @corneliusclaussen
/modules/EvseSecurity/ @AssemblyJohn @pietfried @hikinggrass
/modules/EvseV2G/ @corneliusclaussen @SebaLukas @james-ctc
/modules/EvseSlac/ @a-w50 @corneliusclaussen @SebaLukas
/modules/OCPP/ @hikinggrass @pietfried @mlitre
/modules/OCPP201/ @hikinggrass @pietfried @mlitre
/modules/PacketSniffer/ @corneliusclaussen @SebaLukas @hikinggrass
/modules/PhyVersoBSP/ @pietfried @hikinggrass @corneliusclaussen @dorezyuk @rckstrh
/modules/PyEvJosev/ @SebaLukas @corneliusclaussen @pietfried
/modules/Setup/ @hikinggrass @corneliusclaussen @pietfried
/modules/YetiDriver/ @corneliusclaussen @hikinggrass
/modules/examples/error-framework/ @corneliusclaussen @hikinggrass @pietfried @andistorm
/modules/simulation/ @SebaLukas @pietfried @hikinggrass
/modules/simulation/SlacSimulator/ @SebaLukas @pietfried @corneliusclaussen @MarzellT
/modules/simulation/YetiSimulator/ @SebaLukas @pietfried @corneliusclaussen @MarzellT
/modules/rust_examples/ @SirVer @dorezyuk
**/Cargo.toml @SirVer @dorezyuk @pietfried @hikinggrass
**/Cargo.lock @SirVer @dorezyuk @pietfried @hikinggrass


# Rust & Bazel
*.rs @SirVer @dorezyuk @pietfried @hikinggrass
*.bazel @SirVer @dorezyuk @pietfried @hikinggrass
*.bzl @SirVer @dorezyuk @pietfried @hikinggrass

# third-party/bazel
/third-party/bazel/deps_versions.bzl @pietfried @hikinggrass @corneliusclaussen @SebaLukas @a-w50 @SirVer @dorezyuk

/dependencies.yaml @hikinggrass @pietfried @corneliusclaussen @SebaLukas @AssemblyJohn @mlitre
/module-dependencies.cmake @hikinggrass @pietfried @corneliusclaussen @SebaLukas @AssemblyJohn @mlitre

RpcApi: clang-format on rpc/RpcHandler.hpp
  modules/RpcApi/rpc/RpcHandler.hpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Move to Bazel 8 (#187)
  .bazelignore
  .bazelversion
  BUILD.bazel
  MODULE.bazel
  MODULE.bazel.lock
  WORKSPACE.bazel
  requirements.bzl
  third-party/bazel/BUILD.bazel
  third-party/bazel/defs.bzl
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre, @SirVer, @dorezyuk

Updating fedora version
  README.md
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

RpcApi: fix type of hardware capabilites
  types/json_rpc_api.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

RpcApi: add method to send data to all connected WebSocket clients
  modules/RpcApi/server/TransportInterface.hpp
  modules/RpcApi/server/WebsocketServer.cpp
  modules/RpcApi/server/WebsocketServer.hpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

RpcApi: use consts and references
  modules/RpcApi/rpc/RpcHandler.cpp
  modules/RpcApi/tests/rpc/RpcHandlerTests.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

RpcApi: add a simple Python client for API.Hello
  modules/RpcApi/pyclient/json-rpc-api-hello-client.py
  modules/RpcApi/pyclient/requirements.txt
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

RpcApi: clang-format WebsocketServer.hpp
  modules/RpcApi/server/WebsocketServer.cpp
  modules/RpcApi/server/WebsocketServer.hpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Update version to 0.21.0 (#274)
  CMakeLists.txt
  MODULE.bazel
  MODULE.bazel.lock
  everestjs/package.json
  everestpy/src/everest/everestpy.cpp
  everestpy/src/everest/framework/__init__.py
  everestrs/Cargo.lock
  everestrs/everestrs-build/Cargo.toml
  everestrs/everestrs/Cargo.toml
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre, @SirVer, @dorezyuk

Updating fedora version (#1170)
  README.md
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

RpcApi: implement notifications
  modules/RpcApi/CMakeLists.txt
  modules/RpcApi/RpcApi.cpp
  modules/RpcApi/RpcApi.hpp
  modules/RpcApi/data/DataStore.hpp
  modules/RpcApi/data/GenericInfoStore.hpp
  modules/RpcApi/rpc/RpcHandler.cpp
  modules/RpcApi/rpc/RpcHandler.hpp
  modules/RpcApi/rpc/methods/Evse.hpp
  modules/RpcApi/rpc/notifications/Evse.cpp
  modules/RpcApi/rpc/notifications/Evse.hpp
  modules/RpcApi/tests/CMakeLists.txt
  modules/RpcApi/tests/rpc/RpcHandlerTests.cpp
  types/json_rpc_api.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

feature(EvseManager): This adds support to configure the type of a session id. Available types are UUID string, UUID in base64 and a short form in base64. The type can be configured in the EvseManager
  lib/staging/helpers/CMakeLists.txt
  lib/staging/helpers/include/everest/staging/helpers/helpers.hpp
  lib/staging/helpers/lib/helpers.cpp
  lib/staging/helpers/tests/helpers_test.cpp
  modules/EvseManager/Charger.cpp
  modules/EvseManager/Charger.hpp
  modules/EvseManager/EvseManager.cpp
  modules/EvseManager/EvseManager.hpp
  modules/EvseManager/manifest.yaml
  modules/EvseManager/utils.hpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

RpcApi: send notifications only to clients which have said hello
  modules/RpcApi/rpc/RpcHandler.cpp
  modules/RpcApi/rpc/RpcHandler.hpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Removed ChargeProtocol variable and throws doxygen
  modules/OCPP201/device_model/composed_device_model_storage.hpp
  modules/OCPP201/device_model/definitions.cpp
  modules/OCPP201/device_model/definitions.hpp
  modules/OCPP201/device_model/everest_device_model_storage.cpp
Owners: @hikinggrass, @pietfried, @mlitre

Added workaround to set hw capabilities in device model in constructor
  modules/OCPP201/OCPP201.cpp
  modules/OCPP201/OCPP201.hpp
  modules/OCPP201/device_model/composed_device_model_storage.cpp
  modules/OCPP201/device_model/everest_device_model_storage.cpp
  modules/OCPP201/device_model/everest_device_model_storage.hpp
Owners: @hikinggrass, @pietfried, @mlitre

get device model of composed device model now requests sub device models instead of using the cache
  modules/OCPP201/device_model/composed_device_model_storage.cpp
Owners: @hikinggrass, @pietfried, @mlitre

Update modules/OCPP201/device_model/composed_device_model_storage.cpp
  modules/OCPP201/device_model/composed_device_model_storage.cpp
Owners: @hikinggrass, @pietfried, @mlitre

Initializing EVSE and Connector components for OCPP201 dynamically at startup
  modules/OCPP201/CMakeLists.txt
  modules/OCPP201/OCPP201.cpp
  modules/OCPP201/device_model/definitions.cpp
  modules/OCPP201/device_model/definitions.hpp
  modules/OCPP201/device_model/everest_device_model_storage.cpp
  modules/OCPP201/device_model/everest_device_model_storage.hpp
Owners: @hikinggrass, @pietfried, @mlitre

Removed logging
  modules/OCPP201/device_model/everest_device_model_storage.cpp
Owners: @hikinggrass, @pietfried, @mlitre

Refactor device model storage: add mutex for thread safety, move device model merging to registration
  modules/OCPP201/device_model/composed_device_model_storage.cpp
  modules/OCPP201/device_model/composed_device_model_storage.hpp
  modules/OCPP201/device_model/definitions.cpp
  modules/OCPP201/device_model/definitions.hpp
  modules/OCPP201/device_model/everest_device_model_storage.cpp
  modules/OCPP201/device_model/everest_device_model_storage.hpp
Owners: @hikinggrass, @pietfried, @mlitre

Copied YetiDriver to new AdAcEvse22KwzKitBsp module
  modules/AdAcEvse22KwzKitBSP/CMakeLists.txt
  modules/AdAcEvse22KwzKitBSP/YetiDriver.cpp
  modules/AdAcEvse22KwzKitBSP/YetiDriver.hpp
  modules/AdAcEvse22KwzKitBSP/board_support/evse_board_supportImpl.cpp
  modules/AdAcEvse22KwzKitBSP/board_support/evse_board_supportImpl.hpp
  modules/AdAcEvse22KwzKitBSP/connector_lock/connector_lockImpl.cpp
  modules/AdAcEvse22KwzKitBSP/connector_lock/connector_lockImpl.hpp
  modules/AdAcEvse22KwzKitBSP/doc.rst
  modules/AdAcEvse22KwzKitBSP/manifest.yaml
  modules/AdAcEvse22KwzKitBSP/powermeter/powermeterImpl.cpp
  modules/AdAcEvse22KwzKitBSP/powermeter/powermeterImpl.hpp
  modules/AdAcEvse22KwzKitBSP/rcd/ac_rcdImpl.cpp
  modules/AdAcEvse22KwzKitBSP/rcd/ac_rcdImpl.hpp
  modules/AdAcEvse22KwzKitBSP/yetiR1_2.2_firmware.bin
  modules/AdAcEvse22KwzKitBSP/yeti_comms/CMakeLists.txt
  modules/AdAcEvse22KwzKitBSP/yeti_comms/evSerial.cpp
  modules/AdAcEvse22KwzKitBSP/yeti_comms/evSerial.h
  modules/AdAcEvse22KwzKitBSP/yeti_comms/firmware_version.hpp
  modules/AdAcEvse22KwzKitBSP/yeti_comms/protobuf/generate_nanopb.sh
  modules/AdAcEvse22KwzKitBSP/yeti_comms/protobuf/yeti.options
  modules/AdAcEvse22KwzKitBSP/yeti_comms/protobuf/yeti.pb.c
  modules/AdAcEvse22KwzKitBSP/yeti_comms/protobuf/yeti.pb.h
  modules/AdAcEvse22KwzKitBSP/yeti_comms/protobuf/yeti.proto
  modules/AdAcEvse22KwzKitBSP/yeti_fwupdate/CMakeLists.txt
  modules/AdAcEvse22KwzKitBSP/yeti_fwupdate/main.cpp
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

feat(OCPP2.1): Add AllowedEnergyTransferModes to auth validator
  modules/OCPP201/conversions.cpp
  modules/OCPP201/conversions.hpp
  types/authorization.yaml
Owners: @hikinggrass, @pietfried, @mlitre, @corneliusclaussen, @SebaLukas, @andistorm

Updated libocpp websocket dep (#984)
  dependencies.yaml
  tests/ocpp_tests/test_sets/ocpp16/ocpp_compliance_tests.py
  tests/ocpp_tests/test_sets/ocpp16/ocpp_generic_interface_integration_tests.py
  tests/ocpp_tests/test_sets/ocpp201/security.py
Owners: @hikinggrass, @pietfried, @corneliusclaussen, @SebaLukas, @AssemblyJohn, @mlitre, @andistorm

CableCheck: allow 0 samples, option to disable wait below 60V at end … (#990)
  modules/EvseManager/EvseManager.cpp
  modules/EvseManager/EvseManager.hpp
  modules/EvseManager/manifest.yaml
Owners: @corneliusclaussen, @SebaLukas, @hikinggrass, @pietfried, @mlitre

Reservation all connectors reserved (#958)
  dependencies.yaml
  interfaces/evse_manager.yaml
  modules/Auth/Auth.cpp
  modules/Auth/include/AuthHandler.hpp
  modules/Auth/include/ReservationHandler.hpp
  modules/Auth/lib/AuthHandler.cpp
  modules/Auth/lib/ReservationHandler.cpp
  modules/Auth/tests/reservation_tests.cpp
  modules/EvseManager/EvseManager.cpp
  modules/EvseManager/evse/evse_managerImpl.cpp
  modules/OCPP201/OCPP201.cpp
  tests/ocpp_tests/test_sets/everest-aux/config/everest-config-ocpp201.yaml
  tests/ocpp_tests/test_sets/everest_test_utils.py
  tests/ocpp_tests/test_sets/ocpp16/ocpp_compliance_tests.py
  tests/ocpp_tests/test_sets/ocpp201/reservations.py
  types/reservation.yaml
Owners: @hikinggrass, @pietfried, @corneliusclaussen, @SebaLukas, @AssemblyJohn, @mlitre, @andistorm

Cost and price display message tests (#975)
  tests/ocpp_tests/test_sets/everest-aux/config/everest-config-ocpp16-costandprice.yaml
  tests/ocpp_tests/test_sets/everest-aux/config/everest-config-ocpp201-costandprice.yaml
  tests/ocpp_tests/test_sets/everest-aux/config/libocpp-config-costandprice.json
  tests/ocpp_tests/test_sets/everest_test_utils_probe_modules.py
  tests/ocpp_tests/test_sets/ocpp16/california_pricing_ocpp16.py
  tests/ocpp_tests/test_sets/ocpp16/ocpp_compliance_tests.py
  tests/ocpp_tests/test_sets/ocpp201/california_pricing.py
  tests/ocpp_tests/test_sets/ocpp201/display_message.py
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Added test to bounds check ConnectorEvseIds for OCPP1.6 (#989)
  dependencies.yaml
  tests/ocpp_tests/test_sets/ocpp16/plug_and_charge_tests.py
Owners: @hikinggrass, @pietfried, @corneliusclaussen, @SebaLukas, @AssemblyJohn, @mlitre, @andistorm

Add module for NXP PN7160 NFC chip as token provider (#951)
  CMakeLists.txt
  dependencies.yaml
  module-dependencies.cmake
  modules/CMakeLists.txt
  modules/PN7160TokenProvider/CMakeLists.txt
  modules/PN7160TokenProvider/PN7160TokenProvider.cpp
  modules/PN7160TokenProvider/PN7160TokenProvider.hpp
  modules/PN7160TokenProvider/doc.rst
  modules/PN7160TokenProvider/libnfc-nci_config/libnfc-nci.conf
  modules/PN7160TokenProvider/libnfc-nci_config/libnfc-nxp.conf
  modules/PN7160TokenProvider/main/auth_token_providerImpl.cpp
  modules/PN7160TokenProvider/main/auth_token_providerImpl.hpp
  modules/PN7160TokenProvider/main/libnfc_handler.cpp
  modules/PN7160TokenProvider/main/libnfc_handler.hpp
  modules/PN7160TokenProvider/manifest.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre, @AssemblyJohn

PN532TokenProvider: drop unused config 'timeout' (#995)
  modules/PN532TokenProvider/main/auth_token_providerImpl.hpp
  modules/PN532TokenProvider/manifest.yaml
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre

Reduce mutexes in Auth module (#991)
  modules/Auth/include/AuthHandler.hpp
  modules/Auth/include/Connector.hpp
  modules/Auth/include/ReservationHandler.hpp
  modules/Auth/lib/AuthHandler.cpp
  modules/Auth/lib/ReservationHandler.cpp
  modules/Auth/tests/auth_tests.cpp
  modules/Auth/tests/reservation_tests.cpp
Owners: @pietfried, @corneliusclaussen, @hikinggrass, @mlitre

enable iso departure time
  modules/EvseV2G/iso_server.cpp
Owners: @corneliusclaussen, @SebaLukas, @james-ctc

Fix if-statment guarding for invalid vector access (#996)
  modules/EnergyNode/energy_grid/energyImpl.cpp
Owners: @corneliusclaussen, @hikinggrass, @pietfried

Move reservations callbacks and handlers to new functional block some test changes
  dependencies.yaml
  tests/ocpp_tests/test_sets/ocpp201/reservations.py
Owners: @hikinggrass, @pietfried, @corneliusclaussen, @SebaLukas, @AssemblyJohn, @mlitre, @andistorm

Added features to EvseV2G doc.rst (#964)
  modules/EvseV2G/doc.rst
Owners: @corneliusclaussen, @SebaLukas, @james-ctc

step down log levels
  modules/EvseV2G/iso_server.cpp
Owners: @corneliusclaussen, @SebaLukas, @james-ctc

enable departure time in PyEvJosev
  modules/PyEvJosev/module.py
Owners: @SebaLukas, @corneliusclaussen, @pietfried

move the default parameter calculations
  modules/EvseV2G/iso_server.cpp
Owners: @corneliusclaussen, @SebaLukas, @james-ctc

remove log of arguments, which belong in interface
  modules/PyEvJosev/module.py
Owners: @SebaLukas, @corneliusclaussen, @pietfried

Refactored mutex locking in Auth module: (#1001)
  modules/Auth/include/AuthHandler.hpp
  modules/Auth/lib/AuthHandler.cpp
  modules/Auth/lib/Connector.cpp
  modules/Auth/tests/auth_tests.cpp
  tests/ocpp_tests/test_sets/ocpp16/authorization_tests.py
Owners: @pietfried, @corneliusclaussen, @hikinggrass, @mlitre, @SebaLukas, @andistorm

Accept bank cards only for specific connectors (#997)
  modules/RsPaymentTerminal/manifest.yaml
  modules/RsPaymentTerminal/src/main.rs
Owners: @pietfried, @hikinggrass, @corneliusclaussen, @SebaLukas, @andistorm, @mlitre, @SirVer, @dorezyuk
