Repository EVerest/everest-core, pull requests merged in 2025-06, with the labels that each got.

#1204 Fix(ISO15118): Set contract installation and contract validation based on global pnc_enabled setting
  modules/EvseManager/EvseManager.cpp
Labels: bug

#1194 feat(OCPP2.x): Dynamic device model initialization
  dependencies.yaml
  modules/OCPP201/CMakeLists.txt
  modules/OCPP201/OCPP201.cpp
  modules/OCPP201/OCPP201.hpp
  modules/OCPP201/device_model/composed_device_model_storage.cpp
  modules/OCPP201/device_model/composed_device_model_storage.hpp
  modules/OCPP201/device_model/definitions.cpp
  modules/OCPP201/device_model/definitions.hpp
  modules/OCPP201/device_model/everest_device_model_storage.cpp
  modules/OCPP201/device_model/everest_device_model_storage.hpp
Labels: OCPP

#1221 AD-ACEVSE22KWZ-KIT driver integration
  modules/AdAcEvse22KwzKitBSP/AdAcEvse22KwzKitBSP.cpp
  modules/AdAcEvse22KwzKitBSP/AdAcEvse22KwzKitBSP.hpp
  modules/AdAcEvse22KwzKitBSP/CMakeLists.txt
  modules/AdAcEvse22KwzKitBSP/adkit_comms/CMakeLists.txt
  modules/AdAcEvse22KwzKitBSP/adkit_comms/evSerial.cpp
  modules/AdAcEvse22KwzKitBSP/adkit_comms/evSerial.hpp
  modules/AdAcEvse22KwzKitBSP/adkit_comms/protobuf/adkit.options
  modules/AdAcEvse22KwzKitBSP/adkit_comms/protobuf/adkit.pb.c
  modules/AdAcEvse22KwzKitBSP/adkit_comms/protobuf/adkit.pb.h
  modules/AdAcEvse22KwzKitBSP/adkit_comms/protobuf/adkit.proto
  modules/AdAcEvse22KwzKitBSP/adkit_comms/protobuf/generate_nanopb.sh
  modules/AdAcEvse22KwzKitBSP/board_support/evse_board_supportImpl.cpp
  modules/AdAcEvse22KwzKitBSP/board_support/evse_board_supportImpl.hpp
  modules/AdAcEvse22KwzKitBSP/doc.rst
  modules/AdAcEvse22KwzKitBSP/manifest.yaml
  modules/AdAcEvse22KwzKitBSP/powermeter/powermeterImpl.cpp
  modules/AdAcEvse22KwzKitBSP/powermeter/powermeterImpl.hpp
  modules/CMakeLists.txt
Labels: enhancement

#1200 feat(OCPP2.1): Add AllowedEnergyTransferModes to auth validator
  dependencies.yaml
  interfaces/ISO15118_charger.yaml
  interfaces/evse_manager.yaml
  modules/DummyV2G/main/ISO15118_chargerImpl.cpp
  modules/DummyV2G/main/ISO15118_chargerImpl.hpp
  modules/Evse15118D20/charger/ISO15118_chargerImpl.cpp
  modules/Evse15118D20/charger/ISO15118_chargerImpl.hpp
  modules/Evse15118D20/charger/utils.hpp
  modules/EvseManager/EvseManager.cpp
  modules/EvseManager/evse/evse_managerImpl.cpp
  modules/EvseManager/evse/evse_managerImpl.hpp
  modules/EvseManager/tests/EvseManagerStub.hpp
  modules/EvseV2G/charger/ISO15118_chargerImpl.cpp
  modules/EvseV2G/charger/ISO15118_chargerImpl.hpp
  modules/EvseV2G/tests/ISO15118_chargerImplStub.hpp
  modules/IsoMux/charger/ISO15118_chargerImpl.cpp
  modules/IsoMux/charger/ISO15118_chargerImpl.hpp
  modules/OCPP201/OCPP201.cpp
  modules/OCPP201/OCPP201.hpp
  modules/OCPP201/conversions.cpp
  modules/OCPP201/conversions.hpp
  modules/OCPP201/device_model/composed_device_model_storage.cpp
  modules/OCPP201/device_model/composed_device_model_storage.hpp
  tests/ocpp_tests/conftest.py
  tests/ocpp_tests/test_sets/ocpp16/ocpp_generic_interface_integration_tests.py
  types/authorization.yaml
  types/evse_manager.yaml
  types/iso15118.yaml
Labels: OCPP, ISO15118
